{% extends 'base.html' %}
{% block extra_head %}<title>About IFCB dashboard</title>{% endblock %}
{% load static %}

{% block content %}

<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h2-responsive">About IFCB dashboard</span>
    </div>
</div>
<hr class="my-2">

<div class="row py-2 px-3">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">Overview</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="mb-3">
                    A drop of seawater contains hundreds, even thousands of tiny phytoplankton, organisms so small they can only be seen with a microscope. Despite being so tiny they are incredibly interesting and beautifully diverse. According to the scientists studying them at Woods Hole Oceanographic Institution (WHOI), that diversity is so beautiful that everyone should be able to peek into the invisible world of plankton. And that is being made possible by an invention called Imaging FlowCytobot. 
                </div>
                <div>
                    <img src="{% static 'img/IFCB_collage_small.png' %}" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">About IFCB</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="float-left px-3 py-2">
                    <img src="{% static 'img/heidiHappyIFCB.jpg' %}" width="240px"><br>
                    <small>Photo credit: T. Kleindinst</small>
                </div>
                <div>
                    <div class="mb-2">
                    WHOI scientists are working to show off the diversity of phytoplankton by opening access to images being produced by Imaging FlowCytobot, or IFCB for short. IFCB is an automated underwater microscope designed by Rob Olson and Heidi Sosik. They build IFCBs from lasers, video cameras, microscope parts, and small computers. IFCB can take more than 10 pictures per second as phytoplankton and other small particles are speeding by the video camera in a thin stream of seawater.
                    </div>
                    <div>
                        IFCB was originally developed at WHOI and is now commercially available from <a href="https://mclanelabs.com/imaging-flowcytobot/">McLane Research Laboratories</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">About phytoplankton</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="float-left px-3 py-2">
                    <img src="{% static 'img/marineFoodwebCarbonFlux.png' %}"><br>
                    <small>Modified from Chisholm 2000</small>
                </div>
                Like land plants, phytoplankton use energy from the sun to photosynthesize and make new organic matter. And they use up carbon dioxide and produce oxygen along the way. In fact, these single-celled microbes produce half the oxygen we breathe every day. Phytoplankton thrive under all kinds of conditions everywhere in the ocean where even the tiniest amount of sunlight penetrates–from icy waters of the Arctic to balmy tropical reefs. They manage this by being extremely diverse—they come in a huge range of shapes and sizes and have evolved many intricate patterns of life.  
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">Long-term observations</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="float-left px-3 py-2">
                    <img src="{% static 'img/mvcoDiagramLarge.jpg' %}" width="240px"><br>
                </div>
                At the <a href="https://www.whoi.edu/website/mvco/about-us/">Martha's Vineyard Coastal Observatory</a>, IFCBs are working around the clock in the ocean to capture high resolution images of plankton and relay them to shore. At the <a href="https://ifcb-data.whoi.edu/">IFCB data dashboard web site</a>, anyone can access those images within minutes of collection. Plus browse hundreds of millions of images taken since 2006.  
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">Insights</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="float-left px-3 py-2">
                    <img src="{% static 'img/timeseries2.jpg' %}" width="300px">
                </div>
                For scientists, IFCB image datasets provide a new way to view the natural ebb and flow of phytoplankton communities as the seasons change and years go by. Long time series show us how the invisible world of plankton adjusts to environmental changes. Ultimately this knowledge will help us understand the processes that produce the oxygen we breathe and support the ocean food webs that include fish, whales, and seabirds. 
            </div>
        </div>
    </div>
</div>

<div class="row py-2 px-3">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">Credits</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="h5-responsive">Programming</div>
                Joe Futrelle<br>
                Mike Chagnon<br>
                Matt Charron<br>
                <br>
                <div class="h5-responsive">Design / testing</div>
                Joe Futrelle<br>
                Heidi Sosik<br>
                Taylor Crockford<br>
                Emily Peacock<br>
                <br>
                <div class="h5-responsive">Management</div>
                Heidi Sosik<br>
                Nick Symmonds<br>
            </div>
        </div>
    </div>
</div>

{% endblock %}