{% extends 'base.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a class="black-text" href="{% url 'dataset' dataset.name %}">{{ dataset.name }}</a></li>
<li class="breadcrumb-item"><a class="black-text" href="{% url 'bin' dataset.name bin_data.bin.pid %}">{{ bin_data.bin.pid }}</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ bin_data.bin.pid }}</h1>
    </div>
</div>
<hr class="my-3">
<div class="row">
    <div class="col">
        <div class="btn-group btn-group-sm" role="group" aria-label="Download Image Button Group">
            <button type="button" class="btn btn-unique btn-sm">Raw Data</button>
            <button type="button" class="btn btn-unique btn-sm">Images</button>
            <button type="button" class="btn btn-unique btn-sm">Meta Data</button>
            <button type="button" class="btn btn-unique btn-sm">Products</button>
        </div>
    </div>
</div>
<div class="row py-2 mt-2">
    <div class="col-md-6">
        <div class="card" style="height:650px">
            <div class="card-header">
                <h2>Images</h2>
            </div>
            <div class="card-body text-center">
                <div class="tab-content" id="imageTabContent">
                    <div class="tab-pane fade show active" id="image-tab" role="tabpanel" aria-labelledby="image-tab">
                        <img id="mosaic" src="data:image/png;base64,{{ image }}" class="img-fluid" style="display:none" />
                        <div id="mosaic-loading" class="loading">
                            <div class="loader"></div>
                            loading...
                        </div>
                    </div>

                    <div>
                        Images:
                        {% for image in images %}
                            <a href="{% url 'image' dataset.name bin_data.bin.pid image %}">{{ image }}</a>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="blob-tab" role="tabpanel" aria-labelledby="blob-tab">
                        <img class="img-fluid" src="https://via.placeholder.com/450?text=Image2">
                    </div>
                    <div class="tab-pane fade" id="outline-tab" role="tabpanel" aria-labelledby="outline-tab">
                        <img class="img-fluid" src="https://via.placeholder.com/450?text=Image3">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <nav aria-label="Page navigation example" class="text-center">
                    <ul class="pagination pg-blue">
                        <li class="page-item page-previous">
                            <a class="page-link" tabindex="-1">Previous</a>
                        </li>
                        {% for page in bin_data.pages %}
                        <li class="page-item page-index {% if page == 0 %}active{% endif %}">
                            <a class="page-link" data-page="{{ page }}">{{ page|add:"1" }}</a>
                        </li>
                        {% endfor %}
                        <li class="page-item page-next">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="height:650px">
            <div class="card-header">
                <h2>Location</h2>
            </div>
            <div class="card-body">
                <div id="mapid" style="height:400px;"></div>
            </div>
            <div class="card-footer">
                <p>Latitude: {{ bin_data.lat }}, Longitude: {{ bin_data.lng }}, Depth {{ bin_data.bin.depth }}m</p>
            </div>
        </div>
    </div>
</div>
<div class="row py-2">
    <div class="col-md-6 col-lg-5">
        <div class="card" style="height:550px">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2>Plot</h2>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <img class="img-fluid" src="https://via.placeholder.com/650x250">
            </div>
            <div class="card-footer text-center">
                <div class="btn-group" role="group" aria-label="Change Plots Button Group">
                    <button type="button" class="btn btn-unique">X/Y</button>
                    <button type="button" class="btn btn-unique">ADC Variables</button>
                    <button type="button" class="btn btn-unique">Features</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-5">
        <div class="card" style="height:550px">
            <div class="card-header">
                <h2>Meta Data</h2>
            </div>
            <div class="card-body overflow-auto">
                <div class="table-responsive text-nowrap">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Cell</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-2">
        <div class="card" style="height:550px">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2>Tags</h2>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" class="badge badge-pill badge-primary"><i class="fas fa-tag fa-2x mr-1" aria-hidden="true"></i>Tag 1</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="badge badge-pill badge-primary"><i class="fas fa-tag fa-2x mr-1" aria-hidden="true"></i>Tag 2</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="badge badge-pill badge-primary"><i class="fas fa-tag fa-2x mr-1" aria-hidden="true"></i>Tag 3</a>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-block btn-small"><i class="fas fa-plus-circle" aria-hidden="true"></i>Add</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% endblock %}

{% block scripts %}
<script>
    var currentMosaicPage = 1;
    var currentBinPage = 0;
    var numBinPages = {{ bin_data.num_pages }};

    function loadMosaic(page) {
        $("#mosaic").hide();
        $("#mosaic-loading").show();

        // TODO: Need to pass in scale/width/height from UI controls
        var url = "{% url 'mosaic_page_image' bin_data.bin.pid %}" +
            "?width=800" +
            "&height=600" +
            "&scale_percent=33" +
            "&page=" + page;

        $.get(url, function(data){
            $("#mosaic").attr("src", "data:image/png;base64," + data);
            currentMosaicPage = page;

            $("#mosaic-loading").hide();
            $("#mosaic").show();
        });
    }

    $(".page-index a").click(function(e){
        e.preventDefault();

        var pageNumber = $(this).data("page")

        changePage(pageNumber);
    });

    $(".page-previous").click(function(e){
        e.preventDefault();

        if (currentBinPage > 0)
            changePage(currentBinPage - 1);
    });

    $(".page-next").click(function(e){
        e.preventDefault();

        if (currentBinPage < numBinPages)
            changePage(currentBinPage + 1);
    });

    function changePage(pageNumber) {
        currentBinPage = pageNumber;

        $(".page-previous").toggleClass("disabled", (pageNumber <= 0));
        $(".page-next").toggleClass("disabled", (pageNumber >= numBinPages));

        $.each($(".page-index a"), function(){
            var isSelected = $(this).data("page") == pageNumber;

            $(this).closest("li").toggleClass("active", isSelected);
        });

        loadMosaic(pageNumber);
    }

    $(function(){
        var map = createMap({{ bin_data.lat }}, {{ bin_data.lng }});
        L.marker([{{ bin_data.lat }}, {{ bin_data.lng }}]).addTo(map);

        changePage(currentBinPage);
    });
</script>
{% endblock %}