{% extends 'base.html' %} {% block breadcrumbs %}
<li class="breadcrumb-item"><a class="black-text" href="{% url 'dataset' dataset.name %}?bin_id={{ bin.pid }}">{{ dataset.name }}</a></li>
<li class="breadcrumb-item"><a class="black-text" href="{% url 'bin' dataset.name bin.pid %}">{{ bin.pid }}</a></li>
{% endblock %} {% block content %}
<div class="row d-flex justify-content-between">
    <div class="pl-3">
        <span class="h3-responsive">{{ bin.sample_time|date:'Y-m-d H:i:s e' }}
            <span id="bin-date-relative"></span>
            by IFCB{{ bin.instrument.number }}
        </span>
    </div>
    <div class="pl-3 align-self-center">
        <a id="share-button" title="Share This Bin"><span class="h5-responsive fa fa-share-square"></span>&nbsp;Share This Bin</a>
    </div>
</div>
<hr class="my-2">
<div class="row py-2 px-3">
    <div class="col">
        <div class="card h-100">
            <div class="card-header py-1 mdb-color lighten-5">
                <div class="row col justify-content-between">
                    <span class="h5-responsive">Plot</span>
                </div>
            </div>
            <div class="card-body text-center">
                <div class="tab-content">
                    X Axis: <select id="plot-x-axis"></select>
                    Y Axis: <select id="plot-y-axis"></select>
                    <div id="plot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row py-2 px-3">
    <div class="col">
        <div class="card h-100">
            <div class="card-header py-1 mdb-color lighten-5">
            <div class="row col justify-content-between">
                <span class="h5-responsive">Images</span>
                        <form class="form-inline">
                                <label class="my-1 mr-2" for="view-size">View Size:</label>
                                <select id="view-size" class="custom-select custom-select-sm form-control flex-fill" name="view-size">                                  
                                {% for size in mosaic_view_sizes %}
                                <option value="{{ size }}" autocomplete="off" {% if size == mosaic_default_view_size %}selected{% endif %}>{{ size }}</option>
                                {% endfor %}
                            </select>
                                <label class="my-1 mr-2 pl-2" for="scale-factor">Scale Factor:</label>                                    
                                <select id="scale-factor" class="custom-select custom-select-sm form-control flex-fill" name="scale-factor">                                  
                                {% for factor in mosaic_scale_factors %}
                                <option value="{{ factor }}" autocomplete="off" {% if factor == mosaic_default_scale_factor %}selected{% endif %}>{{ factor }}%</option>
                                {% endfor %}                                 
                                </select>
                            </form>                 
                </div>
            </div>
            <div class="card-body text-center">
                <div class="tab-content" id="imageTabContent">
                    <div class="tab-pane show active" id="image-tab" role="tabpanel" aria-labelledby="image-tab">
                        <img id="mosaic" src="" style="display:none" />
                        <div id="mosaic-loading" style="height:{{ mosaic_default_height }}px">
                            <div class="spinner-border spinner-center" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="blob-tab" role="tabpanel" aria-labelledby="blob-tab">
                        <img class="img-fluid" src="https://via.placeholder.com/450?text=Image2">
                    </div>
                    <div class="tab-pane" id="outline-tab" role="tabpanel" aria-labelledby="outline-tab">
                        <img class="img-fluid" src="https://via.placeholder.com/450?text=Image3">
                    </div>
                </div>
            </div>
            <div class="card-footer py-1 text-center white">
                <nav aria-label="Bin Paging" class="text-center">
                    <ul id="bin-paging" class="pagination pg-dark justify-content-center">
                        <li class="page-item page-previous">
                            <a class="page-link" tabindex="-1">Previous</a>
                        </li>
                        {% for page in details.pages %}
                        <li class="page-item page-index {% if page == 0 %}active{% endif %}">
                            <a class="page-link" data-page="{{ page }}">{{ page|add:"1" }}</a>
                        </li>
                        {% endfor %}
                        <li class="page-item page-next">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<div class="row py-2 px-3">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <dl class="row">
                            <dt class="col-sm-4">Triggers:</dt>
                            <dd class="col-sm-8">{{ bin.n_triggers }}</dd> 
                            <dt class="col-sm-4">Images:</dt>
                            <dd class="col-sm-8">{{ bin.n_images }}</dd>
                            <dt class="col-sm-4">Triggers / s:</dt>
                            <dd class="col-sm-8">{{ bin.trigger_frequency|floatformat:3 }}</dd>                          
                            <dt class="col-sm-4">Volume Analyzed:</dt>
                            <dd class="col-sm-8">{{ bin.ml_analyzed|floatformat:3 }} ml</dd>
                        </dl>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-1">
                            <div class="row mb-0">
                                <span class="col"><strong>Download:</strong></span>
                            </div>
                            <div class="row">
                                <div class="col-sm-auto">
                                    <ul class="list-unstyled">
                                        <li><a href="{% url 'adc_csv' dataset.name bin.pid %}">ADC</a></li>
                                        <li><a href="{% url 'hdr_text' dataset.name bin.pid %}">HDR</a></li> 
                                        <li><a href="{% url 'roi_binary' dataset.name bin.pid %}">ROI</a></li> 
                                        <li><a href="{% url 'zip' dataset.name bin.pid %}">ZIP</a></li> 
                                    </ul>
                                </div>
                                <div class="col-sm-auto">
                                    <ul class="list-unstyled">
                                        {% if details.has_blobs %}
                                        <li><a href="{% url 'blob_zip' dataset.name bin.pid %}">blobs</a></li>
                                        {% else %}
                                        <li>blobs</li>
                                        {% endif %}
                                        <li>features</li> 
                                        <li>autoclass</li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-md-4 mt-1">
                            <div id="mapid" style="height:200px"></div>
                        </div>
                    </div>
                </div>
                </div>
                    </div>
</div>
<div class="row py-2 px-3">
        <div class="col-xs-12 col-lg-6 d-none">
                <div class="card min-vh-25 h-100">
                    <div class="card-header py-1 mdb-color lighten-5">
                        <div class="row justify-content-between">
                            <div class="col-sm-4">
                                <span class="h5-responsive">Plot</span>
                                </div>
                                <div class="col-sm-8">
                            <div class="btn-group" role="group" aria-label="Change Plots Button Group">
                                <button type="button" class="btn btn-sm btn-mdb-color">X/Y</button>
                                <button type="button" class="btn btn-sm btn-mdb-color">ADC Variables</button>
                                <button type="button" class="btn btn-sm btn-mdb-color">Features</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img class="img-fluid" src="https://via.placeholder.com/650x250">
                    </div>
                </div>
            </div>    
    <div class="col-lg-10 mt-2 mt-lg-0">
        <div class="card vh-50 h-100">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h5-responsive">Metadata</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in bin.metadata.items %}
                            <tr>
                                <th scope="row">{{ k }}</th>
                                <td>{{ v }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-2 mt-2 mt-lg-0">
        <div class="card h-100">
            <div class="card-header py-1 mdb-color lighten-5">
                <div class="row">
                    <div class="col">
                        <span class="h5-responsive">Tags</span>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                    {% for tag in details.tags %}
                    <li class="list-group-item">
                        <a href="#" class="badge badge-pill badge-primary"><i class="fas fa-tag fa-2x mr-1" aria-hidden="true"></i>{{tag}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer py-1 white">
                <a href="#" class="btn btn-mdb-color btn-block btn-sm"><i class="fas fa-plus-circle" aria-hidden="true"></i>Add</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Share This Bin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <input id="share-link" size="50" value="{{ request.scheme }}://{{ request.get_host }}{% url 'bin' dataset.name bin.pid %}">
            </div>
            <div class="modal-footer">
                <button id="copy-share-link" type="button" class="btn btn-mdb-color btn-sm">Copy to clipboard</button>
                <!--button type="button" class="btn btn-mdb-color btn-sm" data-dismiss="modal">Close</button-->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="image-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 align-self-center text-center h-100" id="images">
                                <a id="detailed-image-link" href="#">
                                    <img class="img-fluid mb-2 align-middle" id="detailed-image" src="" />
                                    <img class="img-fluid mb-2 align-middle" id="detailed-image-blob" src="" style="display:none" />
                                    <img class="img-fluid mb-2 align-middle" id="detailed-image-outline" src="" style="display:none" />
                                </a>
                                <br />
                                <a class="btn btn-mdb-color btn-sm change-image" data-target="detailed-image" href="javascript:void(0)">Image</a>
                                <a class="btn btn-mdb-color btn-sm change-image {% if not details.has_blobs %}disabled{% endif %}" data-target="detailed-image-blob" href="javascript:void(0)">Blob</a>
                                <a class="btn btn-mdb-color btn-sm change-image {% if not details.has_blobs %}disabled{% endif %}" data-target="detailed-image-outline" href="javascript:void(0)">Outline</a>
                            </div>
                            <div class="col-md-6 h-100">
                                <span class="h5-responsive">Metadata</span>
                                <div class="h300 overflow-auto">
                                    <div class="table-responsive text-nowrap overflow-auto">
                                        <table class="table table-striped table-sm table-hover" id="detailed-image-metadata">
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer white text-center">
                        <a id="detailed-image-button" href="#" class="btn btn-mdb-color btn-sm">View Details</a>
                        <button type="button" class="btn btn-mdb-color btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %}
<script>
    var currentBinPage = 0;
    var numBinPages = 1; // placeholder until mosaic load
    var coordinates = []; // placeholder until mosaic load
    var plotData = null;

    function delayedMosaic(page) {
        $("#mosaic").hide();
        $("#mosaic-loading").show();

        setTimeout(function(){
            loadMosaic(page);
        }, 50);
    }

    function updatePaging() {
        $(".page-previous").toggleClass("disabled", (currentBinPage <= 0));
        $(".page-next").toggleClass("disabled", (currentBinPage >= numBinPages));

        $.each($(".page-index a"), function() {
            var isSelected = $(this).data("page") == currentBinPage;

            $(this).closest("li").toggleClass("active", isSelected);
        });
    }

    function rebuildPageIndexes() {
        $(".page-index").remove();
        for (var i = 0; i < numBinPages + 1; i++) {
            var li = $("<li class='page-item page-index' />").toggleClass("active", i == 0);
            var btn = $("<a class='page-link' />").text(i + 1).attr("data-page", i);

            li.append(btn).insertBefore($(".page-next"));
        }
    }

    function loadMosaic(page) {
        $("#mosaic").hide();
        $("#mosaic-loading").show();

        // indicate to user that the coordinates are loading
        $("#mosaic").css("cursor","wait");

        var viewSize = $("#view-size option:selected").val();
        var scaleFactor = $("#scale-factor option:selected").val();

        var binDataUrl = "{% url 'bin_data' dataset.name bin.pid %}" +
            "?view_size=" + viewSize +
            "&scale_factor=" + scaleFactor;

        $.get(binDataUrl, function(data){

            // Update the coordinates for the image
            coordinates = JSON.parse(data["coordinates"]);
            $("#mosaic").css("cursor","pointer");

            // Update the paging
            if (data["num_pages"] != numBinPages) {
                numBinPages = data["num_pages"];

                rebuildPageIndexes();
                updatePaging();
            }
        });

        var url = "{% url 'mosaic_page_encoded_image' bin.pid %}" +
            "?view_size=" + viewSize +
            "&scale_factor=" + scaleFactor +
            "&page=" + page;

        $.get(url, function(data) {
            $("#mosaic").attr("src", "data:image/png;base64," + data);
            currentBinPage = page;

            $("#mosaic-loading").hide();
            $("#mosaic").show();
        });
    }

    $("#bin-paging").on("click", ".page-index a", function(e){
        e.preventDefault();

        var pageNumber = $(this).data("page")

        changePage(pageNumber, false);
    });

    $("#bin-paging").on("click", ".page-previous", function(e){
        e.preventDefault();

        if (currentBinPage > 0)
            changePage(currentBinPage - 1, false);
    });

    $("#bin-paging").on("click", ".page-next", function(e){
        e.preventDefault();

        if (currentBinPage < numBinPages)
            changePage(currentBinPage + 1, false);
    });

    function changePage(pageNumber, isInitial) {
        currentBinPage = pageNumber;

        delayedMosaic(pageNumber, isInitial);
        updatePaging();
    }

    $("#view-size").change(function(e){
        currentBinPage = 0;

        var size = $("#view-size").val().split("x");
        var height = parseInt(size[1]);

        $("#mosaic-loading").height(height);

        changePage(0, false);
    });

    $("#scale-factor").change(function(e){
        changePage(0, false);
    });

    $("#mosaic").click(function(e){
        var x = e.pageX - $(this).offset().left;
        var y = e.pageY - $(this).offset().top;

        $.each(coordinates, function(idx, img) {
            if (currentBinPage == img.page &&
                x >= img.x && x <= img.x + img.width &&
                y >= img.y && y <= img.y + img.height) {

                // TODO: Need to handle routing from Django
                // TODO: Needs loading indicator
                // TODO: Is png the right default format
                var baseUrl = "/{{ dataset.name }}/{{ bin.pid }}_" + padDigits(img.pid, 5);
                var metaUrl = "/api/image/{{ bin.pid }}/" + img.pid;

                changeImage($("#detailed-image"), baseUrl + ".png", $("#detailed-image-blob"), $("#detailed-image-outline"));
                $("#detailed-image").data("image-id", img.pid);
                $("#detailed-image-link").attr("href", baseUrl + ".html");
                $("#detailed-image-button").attr("href", baseUrl + ".html");
                $("#image-modal").modal();

                $("#detailed-image-metadata tbody").empty();
                $.get(metaUrl, function(data){
                    $.each(data, function(key, val) {
                        var tr = $("<tr />");
                        tr.append($("<th>").html(key));
                        tr.append($("<td>").attr("scope", "row").html(val));
                        $("#detailed-image-metadata tbody").append(tr);
                    });

                });

                return false;
            }
        });
    });

    $("#image-modal").on("hidden.bs.modal", function() {
        $("#detailed-image").attr("src","");
        $("#detailed-image-blob").attr("src","");
        $("#detailed-image-outline").attr("src","");
    });

    $(".change-image").click(function(e){
        var target = $(this).data("target");

        var pixel = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=";

        $.each($("#images img"), function(){
            var id = $(this).attr("id");

            $(this).toggle(id == target);
        });

        // TODO: Implement Django routes instead of hardcoded ones
        if (target == "detailed-image-blob" && $("#detailed-image-blob").attr("src") === "") {
            $('#detailed-image-blob').attr("src", pixel);

            var blobUrl = "/api/blob/{{ bin.pid }}/" + $("#detailed-image").data("image-id");

            $.get(blobUrl, function(data){
                if (data["blob"] != "")
                    $("#detailed-image-blob").attr("src", "data:image/png;base64," + data["blob"]);
            });
        }

        if (target == "detailed-image-outline" && $("#detailed-image-outline").attr("src") === "") {
            $('#detailed-image-outline').attr("src", pixel);

            var outlineUrl = "/api/outline/{{ bin.pid }}/" + $("#detailed-image").data("image-id");

            $.get(outlineUrl, function(data){
                if (data["outline"] != "")
                    $("#detailed-image-outline").attr("src", "data:image/png;base64," + data["outline"]);
            });
        }
    });


    $("#share-button").click(function (e) {
        e.preventDefault();
        
        $("#share-modal").modal();
        $("#share-link").select();
    });

    $("#copy-share-link").click(function() {
        $("#share-link").select();
        document.execCommand("Copy");
    });

    function updatePlot() {
        var xAxis = $("#plot-x-axis").val();
        var yAxis = $("#plot-y-axis").val();

        var trace = [{
            x: plotData[xAxis],
            y: plotData[yAxis],
            mode: 'markers',
            type: 'scatter'
        }];

        Plotly.newPlot('plot', trace);
    }

    $("#plot-x-axis, #plot-y-axis").change(function(e){
        updatePlot();
    });

    $(function() {
        var map = createMap({{ bin.latitude }}, {{ bin.longitude }});
        addMapMarker(map, {{ bin.latitude }}, {{ bin.longitude }}, {{ bin.depth }});

        changePage(currentBinPage, true);

        var binDate = "{{ bin.timestamp|date:'c' }}";
        $("#bin-date-relative").text(" (" + moment(binDate).fromNow() + ")");

        $.get("/api/plot/{{ bin.pid }}", function(data){
            plotData = data;
            var plotXAxis = $("#plot-x-axis");
            var plotYAxis = $("#plot-y-axis");

            $.each(data, function(key) {
                plotXAxis.append($("<option />").text(key));
                plotYAxis.append($("<option />").text(key));
            });

            plotXAxis.val(PLOT_X_DEFAULT);
            plotYAxis.val(PLOT_Y_DEFAULT);

            updatePlot();
        });
    });

</script>
{% endblock %}