{% extends 'base.html' %} {% block breadcrumbs %}
<li class="breadcrumb-item"><a class="black-text" href="{% url 'dataset' dataset.name %}">{{ dataset.name }}</a></li>
<li class="breadcrumb-item"><a class="black-text" href="{% url 'bin' dataset.name bin.pid %}">{{ bin.pid }}</a></li>
{% endblock %} {% block content %}
<div class="row d-flex justify-content-between">
    <div class="pl-3">
        <span class="h2-responsive">{{ bin.pid }}</span>
    </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link btn btn-mdb-color btn-sm" id="ts-size-tab" data-toggle="tab" data-metric="size" href="#ts-size"
                   role="tab" aria-controls="ts-size" aria-selected="true">Raw Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-mdb-color btn-sm" href="#">Meta Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-mdb-color btn-sm" href="#">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-mdb-color btn-sm"href="#">Products</a>
            </li>
        </ul>    
</div>
<hr class="my-2">
<div class="row py-2 px-3">
    <div class="col">
        <div class="card h-100">
            <div class="card-header py-1 mdb-color lighten-5">
            <div class="row col justify-content-between">
                <span class="h4-responsive">Images</span>
                        <form class="form-inline">
                                <label class="my-1 mr-2" for="view-size">View Size:</label>
                                <select id="view-size" class="custom-select custom-select-sm form-control flex-fill" name="view-size">                                  
                                {% for size in mosaic_view_sizes %}
                                <option value="{{ size }}" autocomplete="off" {% if size == mosaic_default_view_size %}selected{% endif %}>{{ size }}</option>
                                {% endfor %}
                            </select>
                                <label class="my-1 mr-2 pl-2" for="scale-factor">Scale Factor:</label>                                    
                                <select id="scale-factor" class="custom-select custom-select-sm form-control flex-fill" name="scale-factor">                                  
                                {% for factor in mosaic_scale_factors %}
                                <option value="{{ factor }}" autocomplete="off" {% if factor == mosaic_default_scale_factor %}selected{% endif %}>{{ factor }}%</option>
                                {% endfor %}                                 
                                </select>
                            </form>                 
                </div>
            </div>
            <div class="card-body text-center">
                <div class="tab-content" id="imageTabContent">  
                    <div class="tab-pane show active" id="image-tab" role="tabpanel" aria-labelledby="image-tab">
                        <img id="mosaic" src="data:image/png;base64,{{ image }}" class="img-fluid" style="display:none" />
                        <div id="mosaic-loading" class="loading">
                            <div class="loader"></div>
                            loading...
                        </div>
                    </div>

                    <div>
                        Images: {% for image in images %}
                        <a href="{% url 'image' dataset.name bin.pid image %}">{{ image }}</a> {% endfor %}
                    </div>

                    <div class="tab-pane" id="blob-tab" role="tabpanel" aria-labelledby="blob-tab">
                        <img class="img-fluid" src="https://via.placeholder.com/450?text=Image2">
                    </div>
                    <div class="tab-pane" id="outline-tab" role="tabpanel" aria-labelledby="outline-tab">
                        <img class="img-fluid" src="https://via.placeholder.com/450?text=Image3">
                    </div>
                </div>
            </div>
            <div class="card-footer py-1 text-center white">
                <nav aria-label="Bin Paging" class="text-center">
                    <ul id="image-paging" class="pagination pg-dark justify-content-center">
                        <li class="page-item page-previous">
                            <a class="page-link" tabindex="-1">Previous</a>
                        </li>
                        {% for page in details.pages %}
                        <li class="page-item page-index {% if page == 0 %}active{% endif %}">
                            <a class="page-link" data-page="{{ page }}">{{ page|add:"1" }}</a>
                        </li>
                        {% endfor %}
                        <li class="page-item page-next">
                            <a class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
<div class="row py-2 px-3">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                    <div class="col-md-8">
                            <h6 class="h6-responsive">{{ bin.sample_time|date:'Y-m-d H:i:s e' }}<small id="bin-date-relative"></small></h6>
                            <h6 class="h6-responsive">By IFCB{{ bin.instrument.number }}</h6> 
                        <dl class="row">
                            <dt class="col-sm-4">Triggers:</dt>
                            <dd class="col-sm-8">{{ bin.n_triggers }}</dd> 
                            <dt class="col-sm-4">Images:</dt>
                            <dd class="col-sm-8">{{ bin.n_images }}</dd>
                            <dt class="col-sm-4">Triggers / s:</dt>
                            <dd class="col-sm-8">{{ bin.trigger_frequency|floatformat:3 }}</dd>                                                                                                 
                            <dt class="col-sm-4">Volume Analyzed:</dt>
                            <dd class="col-sm-8">{{ bin.ml_analyzed|floatformat:3 }} ml</dd>                                   
                        </div>
                            <div class="col-md-4 mt-1">
                            <figure class="figure">
                            <div id="mapid" style="height:200px"></div>
                            <figcaption class="figure-caption"><strong>Latitude:</strong> {{ bin.latitude }}, <strong>Longitude:</strong> {{ bin.longitude }}, <strong>Depth</strong> {{ bin.depth }}m</figcaption>
                            </figure>
                            </div>
                    </div>
                </div>
                </div>
                    </div>
</div>
<div class="row py-2 px-3 mh-25">
        <div class="col-xs-12 col-lg-6">
                <div class="card h-100">
                    <div class="card-header py-1 mdb-color lighten-5">
                        <div class="row justify-content-between">
                            <div class="col-sm-4">
                                <span class="h4-responsive">Plot</span>
                                </div>
                                <div class="col-sm-8">
                                                <div class="btn-group" role="group" aria-label="Change Plots Button Group">
                            <button type="button" class="btn btn-sm btn-mdb-color">X/Y</button>
                            <button type="button" class="btn btn-sm btn-mdb-color">ADC Variables</button>
                            <button type="button" class="btn btn-sm btn-mdb-color">Features</button>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img class="img-fluid" src="https://via.placeholder.com/650x250">
                    </div>
                </div>
            </div>    
    <div class="col-md-8 col-lg-4 mt-2 mt-lg-0">
        <div class="card h500 h-100">
            <div class="card-header py-1 mdb-color lighten-5">
                <span class="h4-responsive">Meta Data</span>
            </div>
            <div class="card-body overflow-auto">
                <div class="table-responsive text-nowrap">

                    <table class="table table-striped table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in bin.metadata.items %}
                            <tr>
                                <th scope="row">{{ k }}</th>
                                <td>{{ v }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-2 mt-2 mt-lg-0">
        <div class="card h-100">
            <div class="card-header py-1 mdb-color lighten-5">
                <div class="row">
                    <div class="col">
                        <span class="h4-responsive">Tags</span>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                    {% for tag in details.tags %}
                    <li class="list-group-item">
                        <a href="#" class="badge badge-pill badge-primary"><i class="fas fa-tag fa-2x mr-1" aria-hidden="true"></i>{{tag}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer py-1 white">
                <a href="#" class="btn btn-mdb-color btn-block btn-small"><i class="fas fa-plus-circle" aria-hidden="true"></i>Add</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{% endblock %} {% block scripts %}
<script>
    var currentMosaicPage = 1;
    var currentBinPage = 0;
    var numBinPages = {{ details.num_pages }};

    function loadMosaic(page) {
        $("#mosaic").hide();
        $("#mosaic-loading").show();

        var viewSize = $("#view-size option:selected").val();
        var scaleFactor = $("#scale-factor option:selected").val();

        // TODO: Need to pass in scale/width/height from UI controls
        var url = "{% url 'mosaic_page_encoded_image' bin.pid %}" +
            "?view_size=" + viewSize +
            "&scale_factor=" + scaleFactor +
            "&page=" + page;

        $.get(url, function(data) {
            $("#mosaic").attr("src", "data:image/png;base64," + data);
            currentMosaicPage = page;

            $("#mosaic-loading").hide();
            $("#mosaic").show();
        });
    }

    $(".page-index a").click(function(e) {
        e.preventDefault();

        var pageNumber = $(this).data("page")

        changePage(pageNumber);
    });

    $(".page-previous").click(function(e) {
        e.preventDefault();

        if (currentBinPage > 0)
            changePage(currentBinPage - 1);
    });

    $(".page-next").click(function(e) {
        e.preventDefault();

        if (currentBinPage < numBinPages)
            changePage(currentBinPage + 1);
    });

    function changePage(pageNumber) {
        currentBinPage = pageNumber;

        $(".page-previous").toggleClass("disabled", (pageNumber <= 0));
        $(".page-next").toggleClass("disabled", (pageNumber >= numBinPages));

        $.each($(".page-index a"), function() {
            var isSelected = $(this).data("page") == pageNumber;

            $(this).closest("li").toggleClass("active", isSelected);
        });

        loadMosaic(pageNumber);
    }

    // TODO: This does not currently update paging for the image
    $("#view-size").change(function(e){
        loadMosaic(currentBinPage);
    });

    // TODO: This does not currently update paging for the image
    $("#scale-factor").change(function(e){
        loadMosaic(currentBinPage);
    });

    $(function() {
        var map = createMap({{ bin.latitude }}, {{ bin.longitude }});
        L.marker([{{ bin.latitude }}, {{ bin.longitude }}]).addTo(map);
        changePage(currentBinPage);

        var binDate = "{{ bin.timestamp|date:'Y-m-d H:i:s e' }}";
        $("#bin-date-relative").text(" (" + timeago().format(binDate) + ")");
    });
</script>
{% endblock %}