{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
    <!-- TODO: datasets is hard coded into the base file and should not be seen for a bin only view; also remove ** indicator -->
    {% if dataset %}
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'dataset' dataset.name %}">{{ dataset.name }}</a></li>
        <li class="breadcrumb-item"><a class="black-text" href="{% url 'dataset' dataset.name %}?bin_id={{ bin.pid }}" id="bin-crumb">{{ bin.pid }}</a></li>
    {% else %}
        <li class="breadcrumb-item"><a class="black-text" href="/bin?id={{ bin.pid }}">{{ bin.pid }}</a></li>
    {% endif %}
{% endblock %}

{% block content %}

{% if dataset %}
<div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-between align-items-center">
        <!-- Dataset header row -->
        <div class="flex-column flex-grow-1 flex-md-grow-0 flex-wrap flex-md-nowrap">
        <div class="pl-3">
            <span class="h3-responsive">{{ dataset.title }}</span>
            <span class="d-none">
                <button class="btn btn-link" data-toggle="collapse" data-target=".ts-collapse" aria-expanded="true" aria-controls="ts-data">
                    <i class="fa" aria-hidden="true"></i>
                </button>
            </span>
        </div>

        {% if user.is_authenticated %}
        <div class="d-none"><!-- until implemented, don't display -->
            <a href="#" class="btn btn-sm btn-primary ml-3">Configure</a>
        </div>
        {% endif %}
      </div>
      <div class="flex-column flex-grow-1 flex-md-grow-0 flex-wrap flex-md-nowrap">
        <!-- Nav options for the timeline control -->
        <ul class="d-flex flex-shrink-0 nav collapse show ts-collapse" id="ts-tabs" role="tablist">
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="ts-size-tab" data-toggle="tab" data-metric="size" href="#ts-size"
                   role="tab" data-target="ts-size" aria-selected="false">Data Size</a>
            </li>
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="ts-temperature-tab" data-toggle="tab" data-metric="temperature" href="#ts-temperature"
                   role="tab" data-target="ts-temperature" aria-selected="false">Temperature</a>
            </li>
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="ts-humidity-tab" data-toggle="tab" data-metric="humidity" href="#ts-humidity"
                   role="tab" data-target="ts-humidity" aria-selected="false">Humidity</a>
            </li>
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="ts-ml-analyzed-tab" data-toggle="tab" data-metric="ml-analyzed" href="#ts-ml-analyzed"
                   role="tab" data-target="ts-ml-analyzed" aria-selected="false">Volume Analyzed</a>
            </li>
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm active btn-block" id="ts-concentration-tab" data-toggle="tab" data-metric="concentration" href="#ts-concentration"
                   role="tab" data-target="ts-concentration" aria-selected="true">ROIs / ml</a>
            </li>
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="ts-triggers-tab" data-toggle="tab" data-metric="n-triggers" href="#ts-triggers"
                   role="tab" data-target="ts-triggers" aria-selected="false">Trigger Count</a>
            </li>
            <li class="nav-item flex-shrink-1">
                <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="ts-images-tab" data-toggle="tab" data-metric="n-images" href="#ts-images"
                   role="tab" data-target="ts-images" aria-selected="false">Image Count</a>
            </li>
        </ul>
    </div>
    </div>
    <hr class="my-2">

    <!-- Timeline control -->
    <div class="row px-1">
        <div class="col-sm-12">
            <div class="tab-content collapse show ts-collapse" id="ts-data">
                <div id="primary-plot-container" class="ts-plot-container"></div>
            </div>
        </div>
    </div>
{% else %}
    <!-- Bin only header -->
    <div class="row d-flex justify-content-between">
        <div class="pl-3">
            <span class="h3-responsive">{{ bin.pid }}</span>
        </div>
    </div>
{% endif %}

<div class="row py-2">
    <div class="col-sm-12">
        <div class="card">
            <!-- Card Header -->
            <div class="card-header py-1 px-0 white">
                <div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-between align-items-center">
                    <!-- Bin selection links/label -->
                    <div class="flex-column flex-grow-1 flex-md-grow-0">
                        {% if dataset %}
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="flex-shrink-1 flex-md-shrink-0 flex-column">
                            <a href="#" id="previous-bin" data-bin="" class="btn btn-mdb-color btn-sm btn-previous">Previous Bin</a>
                            </div>
                            <div class="flex-column flex-shrink text-center">
                                <span class="p">
                                    <strong>Selected Bin:</strong>
                                    <a id="bin-header" href="#">{{ bin.pid }}</a>
                                </span>
                            </div>
                            <div class="flex-shrink-1 flex-md-shrink-0 flex-column">
                            <a href="#" id="next-bin" data-bin="" class="btn btn-mdb-color btn-sm btn-next">Next Bin</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <!-- Bin view (mosaic/plot/map -->
                    <div class="flex-column flex-grow-1 flex-md-grow-0">
                      <ul class="nav justify-content-end d-flex" id="mosaicPlotMapTab" role="tablist">
                        <li class="nav-item flex-fill">
                          <a class="nav-link btn btn-mdb-color btn-sm btn-block active" id="show-mosaic"
                            data-toggle="tab" href="#" role="tab">Mosaic</a>
                        </li>
                        <li class="nav-item flex-fill">
                          <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="show-plot" data-toggle="tab"
                            href="#" role="tab">Plot</a>
                        </li>
                        <li class="nav-item flex-fill">
                          <a class="nav-link btn btn-mdb-color btn-sm btn-block" id="show-map" data-toggle="tab"
                            href="#map-tab-content" role="tab" aria-controls="map-tab-content" aria-selected="false">Map</a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>

            <!-- Card body -->
            <div class="card-body">
              <!-- Top half -->
              <div id="mosaicPlotMapTabContent">
              <!--Mosaic Tab-->
              <div id="image-tab-content" class="tab-pane" role="tabpanel">
                <div class="d-flex flex-row flex-wrap-reverse justify-content-between">
                  <!-- Left side of outer card area )plot/map/mosaic Mosaic Column -->
                  <div class="flex-column order-1 py-2 px-1">
                    <!-- Mosaic -->
                    <div class="card h-100 min-vh-50">
                      <div class="card-body text-center">
                        <div class="overflow-auto">
                          <img id="mosaic" src="" style="display:none" />
                        </div>
                        <div id="mosaic-loading" class="grey lighten-4" style="height:{{ mosaic_default_height }}px; width:{{ mosaic_default_width }}px;">
                          <div class="spinner-border mt-10p" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-center py-0">
                        <div class="row align-items-center" id="mosaic-footer">
                          <nav aria-label="Bin Paging" class="w-50">
                            <ul id="bin-paging" class="pagination pg-dark pagination-sm justify-content-center"
                              style="display:none">
                              <li class="page-item page-previous disabled">
                                <a class="page-link" tabindex="-1">Previous</a>
                              </li>
                              <li class="page-item page-next">
                                <a class="page-link">Next</a>
                              </li>
                            </ul>
                          </nav>
                          <div class="dropdown w-50">
                            <a class="btn btn-sm btn-mdb-color" href="#" role="button" id="mosaicConfigMenuLink"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-cogs"></i>
                            </a>
                            <div class="dropdown-menu">
                              <form class="px-4 py-3">
                                <label class="my-1 mr-2" for="view-size">View Size:</label>
                                <select id="view-size" class="custom-select custom-select-sm form-control"
                                  name="view-size">
                                  {% for size in mosaic_view_sizes %}
                                  <option value="{{ size }}" autocomplete="off"
                                    {% if size == mosaic_default_view_size %}selected{% endif %}>{{ size }}</option>
                                  {% endfor %}
                                </select>

                                <label class="my-1 mr-2 pl-2" for="scale-factor">Scale Factor:</label>
                                <select id="scale-factor" class="custom-select custom-select-sm form-control"
                                  name="scale-factor">
                                  {% for factor in mosaic_scale_factors %}
                                  <option value="{{ factor }}" autocomplete="off"
                                    {% if factor == mosaic_default_scale_factor %}selected{% endif %}>{{ factor }}%
                                  </option>
                                  {% endfor %}
                                </select>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="row ml-1">
                            Tags:
                            <ul id="tags" class="pl-2">
                            {% for tag in bin.tag_names %}
                                <li class="list-group-item d-inline p-2 mr-2">
                                    <span>{{ tag }}</span>
                                    {% if user.is_authenticated %}
                                    <a href="javascript:;" class="remove-tag" data-tag="{{ tag }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                            {% if user.is_authenticated %}
                            <div class="d-inline">
                                <a class="btn btn-sm btn-mdb-color" id="add-tag">Add</a>
                                <input type="text" placeholder="tag name" id="tag-name" class="d-none" />
                                <a class="btn btn-sm btn-mdb-color ml-0 d-none pt-1 pb-1 pl-2 pr-2" id="tag-confirm">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a class="btn btn-sm btn-mdb-color ml-0 d-none pt-1 pb-1 pl-2 pr-2" id="tag-cancel">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End Mosaic Column-->
                  <!--Mosaic Details Column-->
                  <div class="flex-column flex-grow-1 order-2 py-2 px-1 justify-content-center overflow-auto d-none" id="mosaic-details">
                    <!--Mosaic Details Card-->
                    <div class="card d-flex mh-100">
                    <div class="card-header white text-center">
                        <div class="overflow-auto" id="images">
                          <a id="detailed-image-link" href="#">
                            <img class="fluid mb-2 align-middle" id="detailed-image" src="data:image/png;base64,{{image}}" />
                            <img class="fluid mb-2 align-middle" id="detailed-image-blob" src="" style="display:none" />
                            <img class="fluid mb-2 align-middle" id="detailed-image-outline" src="" style="display:none" />
                          </a>
                          <div id="scale-bar">
                            <!-- FIXME hide if image scales -->
                            <div class="scale-bar mx-auto mt-2"></div>
                            <div>10μm</div>
                          </div>
                        </div>
                    </div>
                      <div class="card-body flex-row overflow-auto d-none">
                        <div class="table-responsive text-nowrap">
                        <table class="table table-striped table-sm table-hover" id="detailed-image-metadata">
                                <tbody></tbody>
                              </table>
                            </div>
                      </div>
                      <div class="card-footer flex-row py-1">
                        <a class="btn btn-mdb-color btn-sm change-image" data-target="detailed-image"
                          href="javascript:void(0)">Image</a>
                        <a class="btn btn-mdb-color btn-sm change-image {% if not details.has_blobs %}disabled{% endif %}"
                          data-target="detailed-image-blob" href="javascript:void(0)"
                          id="detailed-image-blob-link">Blob</a>
                        <a class="btn btn-mdb-color btn-sm change-image {% if not details.has_blobs %}disabled{% endif %}"
                          data-target="detailed-image-outline" href="javascript:void(0)"
                          id="detailed-image-outline-link">Outline</a>
                        <a id="close-image" class="float-right btn btn-light text-dark btn-sm">X</a>
                      </div>
                    </div>
                    <!--End of Mosaic Details Card-->
                  </div>
                  <!--End of Mosaic Details Column-->
                </div>
                <!--End of Mosaic Row-->
              </div>
              <!--End of Mosaic Tab-->
              <!-- Plot Tab -->
              <div id="plot-tab-content" class="tab-pane d-none" role="tabpanel">
                <div class="card-body py-1">
                  <div class="row py-2 px-3">
                    <div class="col-md-7 text-center">
                      <form class="form form-row">
                        <div class="form-group mr-2">
                          <label>X Axis</label>
                          <select id="plot-x-axis" class="form-control" style="width:150px"></select>
                        </div>
                        <div class="form-group mr-2">
                          <label>Y Axis</label>
                          <select id="plot-y-axis" class="form-control" style="width:150px"></select>
                        </div>
                        <div class="form-group mr-2">
                          <label>X Type</label>
                          <select id="plot-x-type" class="form-control">
                            <option value="">Linear</option>
                            <option value="log">Log</option>
                          </select>
                        </div>
                        <div class="form-group mr-2">
                          <label>Y Type</label>
                          <select id="plot-y-type" class="form-control">
                            <option value="">Linear</option>
                            <option value="log">Log</option>
                          </select>
                        </div>
                        <div class="form-group mr-2">
                          <label>X Offset</label>
                          <input type="text" id="plot-x-offset" class="form-control" disabled style="width:100px" />
                        </div>
                        <div class="form-group">
                          <label>Y Offset</label>
                          <input type="text" id="plot-y-offset" class="form-control" disabled style="width:100px" />
                        </div>
                      </form>

                      <div id="plot" class="bin-plot" style="height:450px"></div>
                    </div>
                    <div class="col-md-5">
                      <div class="card h-100 z-depth-0 border" id="plotImages">
                        <div class="card-body text-center overflow-auto" id="plot-images-container">
                          <div>
                            <div class="alert" id="too-many-images" style="display:none">
                              Showing the first <span id="max-images"></span> images
                            </div>
                            <div id="plot-images"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Plot Tab-->
              <!-- Map Tap -->
              <div id="map-tab-content" class="tab-pane d-none" role="tabpanel">
                <div class="card-body py-1">
                  <div id="map-container" style="height:600px" ></div>
                </div>
              </div>
              <!--End Map Tab-->
            </div>
            <!--End Top Half-->

              <!-- Bottom half (metadata/tags) -->
              <div class="d-md-flex flex-md-row row mt-3">
                <!-- Bin Basic Info -->
                <div class="flex-md-column col-md-3 mt-2 mt-lg-0">
                  <div class="card h-100">
                    <div class="card-header py-1 mdb-color lighten-5">
                      <span class="h5-responsive">Basic Info</span>
                    </div>
                    <div class="card-body overflow-auto">
                      <!-- Bin stats -->
                      <div class="d-flex flex-row">
                        <div class="flex-column">Date/Time: <span id="stat-date-time"></span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="flex-column">Instrument: <span id="stat-instrument"></span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="flex-column">Triggers: <span id="stat-num-triggers"></span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="flex-column">Images: <span id="stat-num-images"></span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="flex-column">Triggers / s: <span id="stat-trigger-freq"></span>
                        </div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="flex-column">Volume Analyzed: <span id="stat-ml-analyzed"></span>
                        </div>
                      </div>
                      <!-- Download links -->
                      <p class="h5-responsive">Download:</p>
                      <div class="d-flex flex-row">
                        <div class="flex-column flex-fill">
                          <ul class="list-unstyled">
                            <li><a id="download-adc" href="#">ADC</a></li>
                            <li><a id="download-hdr" href="#">HDR</a></li>
                            <li><a id="download-roi" href="#">ROI</a></li>
                            <li><a id="download-zip" href="#">ZIP</a></li>
                          </ul>
                        </div>
                        <div class="flex-column flex-fill">
                          <ul class="list-unstyled">
                            <li>
                              <a id="download-blobs" href="#" style="display:none">blobs</a>
                              <span id="download-blobs-disabled">blobs</span>
                            </li>
                            <li>
                              <a id="download-features" href="#" style="display:none">features</a>
                              <span id="download-features-disabled">features</span>
                            </li>
                            <li>autoclass</li>
                          </ul>
                        </div>
                      </div>

                        <!-- Dataset Links -->
                        <p class="h5-responsive">Datasets:</p>
                        <div id="dataset-links"></div>
                    </div>
                  </div>
                </div>
                <!-- End Bin Basic Info -->
                <!-- Metadata -->
                <div class="flex-md-column col-md-9 mt-2 mt-lg-0">
                  <div class="card vh-50 h-100">
                    <div class="card-header py-1 mdb-color lighten-5">
                      <span class="h5-responsive">Metadata</span>
                    </div>
                    <div class="card-body h-75">
                      <div class="table-responsive text-nowrap h-100 overflow-auto">
                        <table class="table table-striped table-sm table-hover" id="bin-metadata">
                          <thead>
                            <tr>
                              <th scope="col">Field</th>
                              <th scope="col">Value</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Meta Data-->
              </div>
              <!--End Second Row of Wrapper Card-->
            </div>
            <!--End Wrapper Card Body-->
        </div>
        <!--End Wrapper Card-->
    </div>
    <!--End Wrapper Col-->
</div>
<!--End Wrapper Row-->

<!-- Share Modal -->
<div class="modal" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share This Dataset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="share-link" size="50" data-scheme="{{ request.scheme }}" data-host="{{ request.get_host }}" />
            </div>
            <div class="modal-footer">
                <button id="copy-share-link" type="button" class="btn btn-mdb-color btn-sm">Copy to Clipboard</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/bin.js' %}"></script>
<script>

var plot;

var currentMetric = "";
var currentResolution = "auto";
var currentBinTimestamp = null;

var timelineValid = true;
var timelineRelayoutResponse;
var timelineLocked = false;
var timelineLoadedAt = new Date();
var timelineLockedAt = new Date();
var timelineWaiting = 0;
var timelineWaitingSince = new Date();

var _attempts = 0;
var _requests = 0;

function createTimeSeries(metric) {
    container = $("#primary-plot-container");

    currentMetric = metric;
    var dataUrl = "/api/" + _dataset + "/time-series/" + metric + "?resolution=auto";

    plot = Plotly.d3.json(dataUrl, function(err, response) {
        currentResolution = response["resolution"];

        var initialConfig = getTimelineConfig();
        var initialData = getTimelineData(response, currentBinTimestamp);
        var initialLayout = getTimelineLayout(response);

        Plotly.newPlot(container[0], initialData, initialLayout, initialConfig);

        if (currentBinTimestamp != null) {
            highlightSelectedBinByDate(container[0].data[0].x, currentBinTimestamp);
        }

        // Add event to locate nearest bin to user's click
        container[0].addEventListener('mousemove', function(event) {
            var xaxis = container[0]._fullLayout.xaxis;
            var margin = container[0]._fullLayout.margin.l;
            var containerMargin = $(container[0]).offset().left;
            var x = xaxis.p2c(event.x - margin - containerMargin);
            var date = (new Date(x)).toISOString();
            $(container[0]).data('date', date);
        });

        container[0].addEventListener('click', function(event) {
            // Prevent clicks on plotly controls (modebar actions)
            if ($(event.target).parents(".modebar").length > 0) {
                return
            }

            _coordinates = [];
            $("#previous-bin").addClass("disabled");
            $("#next-bin").addClass("disabled");

            changeToClosestBin($(container[0]).data("date"));
        });

        // Add event to handle resolution change when zooming
        container[0].on("plotly_relayout", function(relayoutResponse){
            timelineValid = false;
            timelineRelayoutResponse = relayoutResponse;

            // Prevent relayout's when switching to pan or zoom "mode"
            if (relayoutResponse && (relayoutResponse.dragmode == "pan" || relayoutResponse.dragmode == "zoom")) {
                return
            }

            queryTimeline(container, metric);
        });
    });
}

function queryTimeline(container, metric) {
    _attempts += 1;

    //
    var now = new Date();
    var ok = moment(timelineLoadedAt).add(1,"s").toDate();

    if (timelineLocked || now < ok) {
        // if a timeline query is underway, or it's not time to make another one,
        // and we're not already deferring an attempt, defer one for 100ms
        if (timelineWaiting == 0) {
            timelineWaiting += 1;
            setTimeout(function() {
                timelineWaiting -= 1;
                queryTimeline(container, metric);
            }, 10);
        }
        return false;
    }

    // lock the timeline
    timelineLocked = true;

    // prepare the time range query
    var start = timelineRelayoutResponse["xaxis.range[0]"];
    var end = timelineRelayoutResponse["xaxis.range[1]"];

    var url = "/api/" + _dataset + "/time-series/" + metric +
        "?resolution=" + "auto";
    if(start)
        url += "&start=" + start;
    if(end)
        url += "&end=" + end;

    // validate the timeline, so that upon return from
    // the AJAX call we know if it's been invalidated in the meantime
    timelineValid = true;

    $.get(url, function(dataResponse) {

        // the timeline has been invalidated so this response is out of date
        // if we're not already deferring an attempt, do so
        if (!timelineValid) {
            queryTimeline(container, metric);
        }

        // the user has not invalidated the timeline since we made the
        // request, so use this response
        currentResolution = dataResponse["resolution"];

        var updatedConfig = getTimelineConfig();
        var updatedData = getTimelineData(dataResponse, currentBinTimestamp);
        var updatedLayout = getTimelineLayout(dataResponse, timelineRelayoutResponse);

        Plotly.react(container[0], updatedData, updatedLayout, updatedConfig);

        // success, unlock the timeline
        timelineValid = true;
        timelineLoadedAt = new Date();
        timelineLocked = false;
        return false;
    });
    _requests += 1;
    return true;
}



function changeBin(binId, updateHistory) {
    _coordinates = [];

    if (binId === "")
        return;

    _bin = binId;

    var viewSize = $("#view-size option:selected").val();
    var scaleFactor = $("#scale-factor option:selected").val();

    var dataUrl = "/api" + (_dataset != "" ? "/" + _dataset : "") + "/bin/" + _bin;
    dataUrl += "?view_size=" + viewSize;
    dataUrl += "&scale_factor=" + scaleFactor;
    dataUrl += "&preload_adjacent_bins=" + true;
    dataUrl += "&include_coordinates=" + false;

    // This also gets called when changing the mosaic, but do it earlier here to indicate the bin is loading as well
    $("#mosaic-loading").show();
    $("#mosaic").hide().attr("src","");

    // Hide any selected images
    $("#mosaic-details").toggleClass("d-none", true);
    $("#plot-images").empty();
    $("#too-many-images").toggle(false);

    // Update bin name/link
    var binUrl = "/bin?id=" + _bin;
    $("#bin-header").attr("href", binUrl).html(binId);
    $("#bin-crumb").attr("href", binUrl).html(binId);

    // disable next/previous buttons
    $("#previous-bin").addClass("disabled");
    $("#next-bin").addClass("disabled");

    _mosaicPage = 0;
    delayedMosaic(0);

    updatePlotData();
    updateBinMetadata();

    $.get(dataUrl, function(data){
        updateBinStats(data);
        updateBinDownloadLinks(data);
        updateBinDatasets(data);

        currentBinTimestamp = moment(data["timestamp_iso"]);

        $("#previous-bin").data("bin", data.previous_bin_id);
        $("#next-bin").data("bin", data.next_bin_id);

        // Update outline/blob links
        $("#detailed-image-blob-link").toggleClass("disabled", !data["has_blobs"]);
        $("#detailed-image-outline-link").toggleClass("disabled", !data["has_blobs"]);

        // Update map location(s). If the map is not currently the visible workspace, we delay changing the map. If not
        //   there are issues with Leaflet throwing errors because of how the dimensions of the container are
        //   calculated. If the container has never been visible, Leaflet cannot get the dimensions and will fail
        if (_workspace == "map") {
            updateMapLocation(data);
        } else {
            _pendingMapLocation = {
                "lat": data.lat,
                "lng": data.lng,
                "depth": data.lng
            }
        }

        if (updateHistory) {
            {% if route == "dataset" %}
                history.pushState({"bin_id": _bin, "dataset": _dataset}, null, "?id=" + _bin + "&dataset=" + _dataset);
            {% endif %}
        }

        // Update the timeline to select the new bin
        if (_dataset != "") {
            var timeline = $("#primary-plot-container")[0];
            highlightSelectedBinByDate(timeline.data[0].x, currentBinTimestamp);
        }

        _isBinLoading = false;
    });
}

$("#mosaic").click(function(e){
    var x = e.pageX - $(this).offset().left;
    var y = e.pageY - $(this).offset().top;
    
    $.each(_coordinates, function(idx, img) {
        if (_mosaicPage == img.page &&
            x >= img.x && x <= img.x + img.width &&
            y >= img.y && y <= img.y + img.height) {

            $("#mosaic-details").toggleClass("d-none", false);

            // TODO: Needs loading indicator
            var baseUrl = (_dataset != "" ? "/" + _dataset : "") + "/" + _bin + "_" + padDigits(img.pid, 5);
            var metaUrl = "/api/image/" + _bin + "/" + img.pid;

            changeImage($("#detailed-image"), baseUrl + ".png", $("#detailed-image-blob"), $("#detailed-image-outline"));
            $("#detailed-image").data("image-id", img.pid);
            $("#detailed-image-link").attr("href", baseUrl + ".html");
            $("#detailed-image-button").attr("href", baseUrl + ".html");
            $("#image-modal").modal();

            $("#detailed-image-metadata tbody").empty();
            $.get(metaUrl, function(data){
                $.each(data, function(key, val) {
                    var tr = $("<tr />");
                    tr.append($("<th>").html(key));
                    tr.append($("<td>").attr("scope", "row").html(val));
                    $("#detailed-image-metadata tbody").append(tr);
                });

            });

            return false;
        }
    });
});

$("#image-modal").on("hidden.bs.modal", function() {
    $("#detailed-image").attr("src","");
    $("#detailed-image-blob").attr("src","");
    $("#detailed-image-outline").attr("src","");
});

$(".change-image").click(function(e){
    var target = $(this).data("target");
    var pixel = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=";

    $.each($("#images img"), function(){
        var id = $(this).attr("id");

        $(this).toggle(id == target);
    });

    if (target == "detailed-image-blob" && $("#detailed-image-blob").attr("src") === "") {
        var blobUrl = "/api/blob/" + _bin + "/" + $("#detailed-image").data("image-id");

        $("#detailed-image-blob").attr("src", pixel);

        $.get(blobUrl, function(data){
            if (data["blob"] != "")
                $("#detailed-image-blob").attr("src", "data:image/png;base64," + data["blob"]);
        });
    }

    if (target == "detailed-image-outline" && $("#detailed-image-outline").attr("src") === "") {
        var outlineUrl = "/api/outline/" + _bin + "/" + $("#detailed-image").data("image-id");

        $("#detailed-image-outline").attr("src", pixel);

        $.get(outlineUrl, function(data){
            if (data["outline"] != "")
                $("#detailed-image-outline").attr("src", "data:image/png;base64," + data["outline"]);
        });
    }
});

$("#close-image").click(function() {
  $("#mosaic-details").addClass("d-none");
});

$(function() {
    {% if dataset %}
    createTimeSeries("concentration");
    {% endif %}

    changeBin("{{ bin.pid }}", false);
});


    function updatePlot() {
        var xAxis = $("#plot-x-axis").val();
        var yAxis = $("#plot-y-axis").val();
        var xType = $("#plot-x-type").val();
        var yType = $("#plot-y-type").val();
        var xOffset = $("#plot-x-offset").val();
        var yOffset = $("#plot-y-offset").val();
        var xData = _plotData[xAxis];
        var yData = _plotData[yAxis];

        if ($.isNumeric(xOffset) && xOffset != 0) {
            xData = $.map(xData, function(value) { return value + parseFloat(xOffset); });
        }

        if ($.isNumeric(yOffset) && yOffset != 0) {
            yData = $.map(yData, function(value) { return value + parseFloat(yOffset); });
        }

        var config = {
            responsive: true,
            displaylogo: false,
            scrollZoom: true,
            modeBarButtonsToRemove: [
                "sendDataToCloud",
                "hoverCompareCartesian",
                "hoverClosestCartesian",
                "toImage",
                "toggleSpikelines",
                "resetScale2d"
            ]
        };

        var trace = [{
            x: xData,
            y: yData,
            mode: 'markers',
            type: 'scatter'
        }];

        var layout = {
            margin: { l: 50, r: 50, b: 50, t: 00, pad: 2 },
            xaxis: { type: xType, autorange: true },
            yaxis: { type: yType, fixedrange: true, }
        };

        Plotly.react('plot', trace, layout, config);

        $("#plot")[0].on('plotly_click', function(data){
            var pts = '';
            for(var i=0; i < data.points.length; i++){
                var idx = data.points[i].pointIndex;

                var imageId = _plotData["target_number"][idx];
                var baseUrl = (_dataset != "" ? "/" + _dataset : "") + "/" + _bin + "_" + padDigits(imageId, 5) + ".png";

                $("#plot-images").empty();
                $("#plot-images").append(
                    $("<img />")
                        .attr("src", baseUrl)
                        .attr("data-target", imageId)
                        .css("cursor","pointer")
                );
            }
        });

        // When changing tools, clear any existing selection (and shown images)
        $("#plot")[0].addEventListener('click', function(event) {
            if ($(event.target).parents(".modebar").length > 0) {
                $("#too-many-images").toggle(false);
                $("#plot-images").empty();
                Plotly.restyle($("#plot")[0], {selectedpoints: [null]});
            }
        });

        $("#plot")[0].on("plotly_selected", function(data){
            var urls = [];
            var maxImages = false;
            for(var i = 0; i < data.points.length; i++){
                if (i == MAX_SELECTABLE_IMAGES) {
                    maxImages = true;
                    break;
                }

                var idx = data.points[i].pointIndex;
                var imageId = _plotData["target_number"][idx];
                var imageUrl = (_dataset != "" ? "/" + _dataset : "") + "/" + _bin + "_" + padDigits(imageId, 5) + ".png";

                urls.push({
                    "id": imageId,
                    "url": imageUrl
                });
            }

            $("#plot-images").empty();
            $.each(urls, function(key, val){
                $("#plot-images").append($("<img />")
                    .attr("src", val.url)
                    .attr("data-target", val.id)
                    .css("cursor","pointer")
                  );
            });
            $("#too-many-images").toggle(maxImages);
        });
    }

    $("#plot-x-axis, #plot-y-axis, #plot-x-offset, #plot-y-offset").change(function(e){
        updatePlot();
    });

    $("#plot-x-type").change(function(e){
        if ($(this).val() == "log") {
            $("#plot-x-offset").prop("disabled", false);
        } else {
            $("#plot-x-offset").prop("disabled", true).val("");;
        }

        updatePlot();
    });

    $("#plot-y-type").change(function(e){
        if ($(this).val() == "log") {
            $("#plot-y-offset").prop("disabled", false);
        } else {
            $("#plot-y-offset").prop("disabled", true).val("");;
        }

        updatePlot();
    });

    $("#plot-images").on("click", "img", function(e){
        var target = $(this).data("target");
        var baseUrl = (_dataset != "" ? "/" + _dataset : "") + "/" + _bin + "_" + padDigits(target, 5);

        location.href = baseUrl + ".html";
    });

    {% if dataset %}
        _dataset = "{{ dataset.name }}";
    {% endif %}
    _bin = "{{ bin.pid }}";
    _csrf = "{{ csrf_token }}";

</script>
{% endblock %}