{% extends 'base.html' %}
{% block extra_head %}<title>Search comments</title>{% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col">
        <span class="h3-responsive">Comments</span>
    </div>
</div>
<hr class="my-2">
<div class="row py-2 px-3">
<div class="border w-100 px-2 py-1">
    {% if filters %}
    <div class="alert alert-info" id="filter-message">
        <strong>Current Filters:</strong>
        {{ filters }}
        <a id="clear-filters" href="#" class="btn btn-sm btn-mdb-color">Clear Filters</a>
    </div>
    {% endif %}
    <form class="form-inline">
        <input type="hidden" id="dataset-filter" value="{{ dataset|default_if_none:'' }}" />
        <input type="hidden" id="instrument-filter" value="{{ instrument|default_if_none:'' }}" />
        <input type="hidden" id="tag-filter" value="{{ tags|default_if_none:'' }}" />
        <input type="hidden" id="cruise-filter" value="{{ cruise|default_if_none:'' }}" />
        <input type="hidden" id="sample-type-filter" value="{{ sample_type|default_if_none:'' }}" />
        Search for comments containing:
        <input type="text" class="form-control ml-2" id="query" />
        <button type="button" class="btn btn-mdb-color" id="search">Search</button>
    </form>
    </diV>
</div>
<div class="row">
    <table class="table table-striped table-sm table-hover d-none" id="comments" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Comment</th>
                <th scope="col">Author</th>
                <th scope="col">Bin</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %} {% block scripts %}
<script>
    var commentsTable;
    $("#search").click(function(){
        if (commentsTable) {
            commentsTable.ajax.reload();
            return;
        }

        commentsTable = $("#comments").DataTable({
            searching: false,
            lengthChange: false,
            ajax: {
                method: "POST",
                url: "/api/search_comments",
                data: function(){
                    return {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "query": $("#query").val(),
                        "dataset": $("#dataset-filter").val(),
                        "instrument": $("#instrument-filter").val(),
                        "tags": $("#tag-filter").val(),
                        "cruise": $("#cruise-filter").val(),
                        "sample_type": $("#sample-type-filter").val()
                    }
                }
            },
            order: [[ 1, "desc" ]],
            columns: [
                { // Date
                    render: function(data, type, row) {
                        return moment.utc(data).format("YYYY-MM-DD HH:mm:ss z");
                    }
                },
                {}, // Comment
                {}, // User
                { // Edit/Delete
                    targets: -1,
                    render: function(data, type, row ) {
                        return "<a class='text-primary btn-link' href='/bin?bin=" + data + "'>" + data + "</a>";
                    }
                }
            ]
        });

        $("#comments").toggleClass("d-none", false);
        $("#comments_wrapper").css("width","100%")
    });

    $(function() {
        $("#clear-filters").click(function(e){
            e.preventDefault();
            $("#filter-message").hide();
            $("#dataset-filter").val("");
            $("#instrument-filter").val("");
            $("#tag-filter").val("");
            $("#cruise-filter").val("");
            $("#sample-type-filter").val("");

            if (commentsTable)
                commentsTable.ajax.reload();
        });

    });
</script>
{% endblock %}