{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col">
        Welcome to IFCB
    </div>
    <div class="col">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for dataset in datasets %}
                <tr>
                    <th scope="row">{{ dataset.name }}</th>
                    <td>{{ dataset.title }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{% endblock %}