{% extends 'base.html' %}
{% block extra_head %}<title>Skip/unskip bins</title>{% endblock %}
{% load static %}

{% block content %}

<div class="pl-3">
    <span class="h3-responsive">
      <a href="/dashboard">Home</a>
      {% if dataset %}»
        <a href="timeline?dataset={{ dataset.name }}">
          {{ dataset.title }}
        </a>
      {% endif %}
      {% if instrument_number %}»
        <a href="timeline?instrument={{ instrument_number }}">
          IFCB{{ instrument_number }}
        </a>
      {% endif %}
      {% if tags %}»
        <a href="timeline?tags={{ tags }}">
          {{ tags }}
        </a>
      {% endif %}
    </span>
    <a id="view-timeline" class="pl-3 my-auto" href="#"title="View Timeline" Style="color:#59698d" data-toggle="tooltip" data-placement="bottom"><i class="fas h3-responsive fa-chart-line"></i></a>
    <span class="d-none">
        <button class="btn btn-link" data-toggle="collapse" data-target=".ts-collapse" aria-expanded="true" aria-controls="ts-data">
            <i class="fa" aria-hidden="true"></i>
        </button>
    </span>
</div>

<div class="row">
    <div id="bins-container" class="col-md-8">
        <table id="bins" class="table table-sm table-striped table-bordered w-100">
            <thead>
                <td><input type="checkbox" id="select-all" /></td>
                <td>Timestamp</td>
                <td>PID</td>
                <td>Skipped?</td>
                <td></td>
            </thead>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card">
            {% if start_date and end_date %}
            <div class="card-header">Time Range</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-right">Start Date:</div>
                    <div class="col-md-8"><strong><span id="start-date"></span></strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">End Date:</div>
                    <div class="col-md-8"><strong><span id="end-date"></span></strong></div>
                </div>
            </div>
            {% endif %}
            <div class="card-header">Filters</div>
            <div id="skip-filters" class="card-body">
                <label><input type="radio" name="skip-filter" data-option="exclude" /> Exclude Skipped</label><br />
                <label><input type="radio" name="skip-filter" data-option="include" checked /> Include Skipped</label><br />
                <label><input type="radio" name="skip-filter" data-option="only" /> Only Skipped</label>
            </div>
            <div class="card-header">Actions</div>
            <div class="card-body">
                <div id="selected-bin-message" class="alert alert-info d-none">
                    Selected Bins: <strong><span id="selected-bins"></span></strong>
                </div>
                <div id="action-message" class="alert d-none"></div>
                <button id="skip-selected" type="button" class="btn btn-sm btn-block btn-mdb-color">Skip Selected Bins</button><br />
                <button id="unskip-selected" type="button" class="btn btn-sm btn-block btn-mdb-color">Unskip Selected Bins</button><br />
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var _dataset = "{{ dataset_name|default_if_none:'' }}";
    var _instrument = "{{ instrument_number|default_if_none:'' }}";
    var _tags = "{{ tags|default_if_none:'' }}";
    var _cruise = "{{ cruise|default_if_none:'' }}";
    var _sampleType = "{{ sample_type|default_if_none:'' }}";
    var _startDate = "{{ start_date|default_if_none:'' }}";
    var _endDate = "{{ end_date|default_if_none:'' }}";
    var binsTable;
    var selectedBins = [];

    function updateSkip(skip) {
        if (selectedBins.length == 0) {
            $("#action-message")
                .html("Please select at least one bin")
                .toggleClass("d-none", false)
                .toggleClass("alert-danger", true)
                .toggleClass("alert-success", false);

            return ;
        }
        $("#action-message").toggleClass("d-none", true);

        if (skip && !confirm("Are you sure you want to skip the " + selectedBins.length + " selected bin(s)?"))
            return;

        var payload = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            skip: skip,
            bins: selectedBins
        };

        $.ajax({
            dataType: "json",
            type: "POST",
            url: "/api/update_skip",
            data: payload,
            success: function(data) {
            selectedBins = [];
                binsTable.ajax.reload();

                $("#action-message")
                    .html("Update successful")
                    .toggleClass("d-none", false)
                    .toggleClass("alert-danger", false)
                    .toggleClass("alert-success", true);
            }
        });
    }

    $(function(){
        initBinFilter("list");
        $("#bins-container")
            .on("click", ".view-bin", function(e){
                e.preventDefault();

                var pid = $(this).data("pid");
                location.href = getPage("bin", "bin=" + pid);
            })
            .on("click", ".select-bin", function(e){
                var pid = $(this).data("pid");
                var checked = $(this).is(":checked");

                if (checked) {
                    if (!selectedBins.includes(pid)) {
                        selectedBins.push(pid);
                    }
                } else {
                    selectedBins = selectedBins.filter(function(b) {return b != pid });
                }
                $("#selected-bins").html(selectedBins.length);
                $("#selected-bin-message").toggleClass("d-none", selectedBins.length == 0);
                $("#select-all").prop("checked", selectedBins.length == binsTable.rows()[0].length ? "checked" : "");
            });

        $("#skip-filters").on("change", "input[type=radio]", function(){
            binsTable.ajax.reload();
        });

        $("#skip-selected").click(function(){
            updateSkip(true);
        });

        $("#unskip-selected").click(function(){
            updateSkip(false);
        });

        $("#view-timeline").click(function(){
            const queryString = "?start_date=" + _startDate +
                "&end_date=" + _endDate +
                "&" + buildFilterOptionsQueryString(true);

            location.href = getPage("timeline", queryString);
        });

        $("#select-all").click(function(){
            var checked = $(this).is(":checked");

            binsTable.rows().every(function() {
                $(this.node()).find("input[type=checkbox]").prop("checked", checked ? "checked" : "")
            });

            selectedBins = [];
            if (checked) {
                binsTable.rows().every(function(){
                    selectedBins.push(this.data().pid);
                });
            }

            $("#selected-bins").html(selectedBins.length);
            $("#selected-bin-message").toggleClass("d-none", selectedBins.length == 0);
        });

        // Set default skip filter based on querystring
        {% if skip_filters %}
        $("#skip-filters input[type=radio][data-option={{ skip_filters|default_if_none:'' }}").prop("checked", "checked")
        {% endif %}

        binsTable = $('#bins').DataTable({
            searching: false,
            lengthChange: false,
            "scrollX": true,
            order: [[1, "asc"]],
            ajax: function (data, callback, settings) {
                var opt = $("#skip-filters input[type=radio]:checked").data("option");

                var url = "/api/list_bins" +
                    "?skip_filter=" + opt +
                    "&start_date=" + _startDate +
                    "&end_date=" + _endDate +
                    "&" + buildFilterOptionsQueryString(true)
                $.get(url, function(data){
                    callback(data);
                });
            },
            columns: [
                {
                    orderable: false,
                    className: "text-center",
                    data: "pid",
                    render: function(data) {
                        var checked = selectedBins.includes(data) ? "checked" : "";
                        return "<input type='checkbox' class='select-bin' data-pid='" + data + "' " + checked + " />";
                    }
                },
                {
                    data: "sample_time"
                },
                {
                    data: "pid"
                },
                {
                    className: "text-center",
                    data: "skip",
                    render: function(data) {
                        return data == true ? "Yes" : "No";
                    }
                },
                {
                    orderable: false,
                    data: "pid",
                    render: function(data) {
                        return "<a href='#' class='btn btn-sm btn-mdb-color view-bin' data-pid='" + data + "'>View</a>";
                    }
                }
            ]
        });
    });
</script>
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      {% if start_date and end_date %}
      $("#start-date").html(moment("{{ start_date }}").toISOString());
      $("#end-date").html(moment("{{ end_date }}").toISOString());
      {% endif %}
    })
</script>
{% endblock %}