html,
body,
.view {
    height: 100%;
}

body {
    padding-top: 75px
}

.page-footer {
    background-color: #929FBA;
}

.footer-thumb {
    max-height: 60px;
    margin: 0 8px;
}

#bin-mosaic {
    max-width:70%;
}