LOCAL_SETTINGS=./local_settings.py

PRIMARY_DATA_DIR=/Users/jfutrelle/Data/ifcb-data

POSTGIS_VOLUME=ifcbdb-postgis-data

NGINX_TEMPLATE=./nginx-ssl.conf.template

HOST=localhost
HTTP_PORT=8000
HTTPS_PORT=8443

SSL_CERT=./ssl/cert.pem
SSL_KEY=./ssl/key.pem
