# this key is used to encrypt/decrypt samba passwords for connecting to IFCB
# edit it after copying local_settings.py.example to local_settings.py
# The password here is just for illustrative purposes
IFCB_PASSWORD_KEY = 'axfd9087qy23hnr'

# TODO: This should be come a setting once we have more of an admin area built out
DEFAULT_DATASET = ""

ALLOWED_HOSTS = ['localhost']
