django==4.2.28
gunicorn==23.0.0
psycopg2-binary==2.9.9
numba==0.59.1
celery==5.3.6
pymemcache==4.0.0
redis==5.0.3
scipy==1.13.1
pandas==2.2.3
h5py==3.12.1
requests==2.32.3
Pillow==11.1.0
rectpack==0.2.2
scikit-image==0.24.0
pysmb==1.2.10
pyyaml==6.0.2
django-waffle==5.0.0
git+https://github.com/joefutrelle/pyifcb@v1.2.1
