django==4.2.30
gunicorn==23.0.0
psycopg2-binary==2.9.9
numba==0.59.1
numpy==1.26.4
celery==5.3.6
pymemcache==4.0.0
redis==5.0.3
scipy==1.17.1
pandas==2.3.3
h5py==3.16.0
requests==2.34.2
Pillow==12.3.0
rectpack==0.2.2
scikit-image==0.26.0
pysmb==1.2.15
pyyaml==6.0.3
django-waffle==5.0.0
pyarrow==24.0.0
git+https://github.com/joefutrelle/pyifcb@v1.3.3
