{% load static nav %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="pinterest" content="nopin">

    <link href="{% static 'vendor/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/mdbootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/mdbootstrap/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/DataTables/datatables.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/chosen/chosen.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/autocomplete/autoComplete.02.min.css' %}" rel="stylesheet" />
    {% block extra_head %}{% endblock %}
    <title>IFCB dashboard</title><!-- overridden in extra_head block -->

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>

<body class="white">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-xl navbar-dark stylish-color white-text scrolling-navbar">
        <div class="container-fluid">

            <!-- Brand -->
            <span class="navbar-brand">
                <a href="/dashboard">
                    <strong class="white-text">IFCB dashboard</strong>
                </a>
            </span>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-burger"><span></span><span></span><span></span><span></span></div>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <!-- Left -->
                <nav class="nav flex-column flex-lg-row">
                    {% dataset_nav %}
                    {% can_access_settings user as can_access_settings %}
                    {% if can_access_settings %}
                        <a class="white-text nav-link" href="/secure/" title="Settings" data-toggle="tooltip" data-placement="bottom"><span class="h5-responsive fa fa-cog"></span> Settings</a>
                    {% endif %}
                    <div class="custom-control-inline">
                    <input id="go-to-bid-pid" type="text" class="form-control-sm" placeholder="Enter Bin PID..." />
                    <button id="go-to-bin" type="button" class="btn btn-sm btn-default btn-mdb-color">Go</button>
                </div>
                </nav>

                <!-- Right -->
                <nav class="nav flex-column flex-lg-row">
                {% comments_nav %}
                {% if can_filter_page %}
                <a data-toggle="popover" title="Update Filters" class="flex-md-fill nav-link"><span class="h5-responsive fa fa-filter"></span> Filter</a>
                {% endif %}
                {% if can_filter_page and can_share_page %}
                {% endif %}
                {% if can_share_page %}
                <a id="share-button" title="Share" class="flex-md-fill nav-link"><span class="h5-responsive fa fa-share-square"></span> Share</a>
                {% endif %}
                {% if user.is_authenticated %}
                        <a href="{% url 'secure:logout' %}" class="white-text nav-link flex-md-fill" title="Log Out" data-toggle="tooltip" data-placement="bottom"><span class="h5-resonsive fas fa-sign-out-alt"></span> Log Out</a>
                {% endif %}
                    </nav>
            </div>

        </div>
    </nav>
    <!--Main layout-->
    <main class="mx-lg-3 min-vh-80">
        <div class="container-fluid mt-1">
            {% block content %}{% endblock %}
        </div>
    </main>
    <!--Main layout-->
    <footer class="page-footer font-small stylish-color pt-2 mt-4">
        <div class="container-fluid text-center my-2">
            <div class="row justify-content-center d-none">
            </div>
            <div class="row mt-2 text-center">
                <div class="col">
                    Developed by the
                    <a href="https://www2.whoi.edu/staff/hsosik/" target="_blank">Sosik lab at
                    <a href="http://www.whoi.edu/" target="_blank">Woods Hole Oceanographic Institution</a>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-copyright text-center py-3 stylish-color-dark">
            <div class="row">
                <div class="col-sm-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                <span class="px-2">Version 5.0 - January 2026</span>
            </li>
            <li class="nav-item">
                <a class="px-2" href="{% url 'about_page' %}">About</a>
            </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="px-2" href="{% url 'secure:logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="px-2" href="{% url 'secure:login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
            </div>
        </div>     
    </footer>

    {% timeline_filters %}

    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mdbootstrap/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/esrileaflet/esri-leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/plotly/plotly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/livestamp/livestamp.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/filesize/filesize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/autocomplete/autoComplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function(e) {
            const appSettings = JSON.parse('{% app_settings %}');

            initDashboard(appSettings);
        });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>
