{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">

<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">Bin Management</span>
    </div>
    <div class="flex-column">
    </div>
</div>
<hr class="my-2">
<div class="row py-2 px-3">
    <div class="col-md-4">
        <form id="search-form" method="post">
            {% csrf_token %}
            <div id="filter-content" class="filter-options">
                <div class="form-row mb-2">
                    <div class="col-md-4">Team</div>
                    <div class="col-md-8">
                        {{ form.team }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4">Dataset</div>
                    <div class="col-md-8">
                        {{ form.dataset }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4">Instrument</div>
                    <div class="col-md-8">
                        {{ form.instrument }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4">Start Date</div>
                    <div class="col-md-8">
                        {{ form.start_date }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4">End Date</div>
                    <div class="col-md-8">
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4">Tags</div>
                    <div class="col-md-8">
                        {{ form.tag }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4">Cruise</div>
                    <div class="col-md-8">
                        {{ form.cruise }}
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-4" style="white-space: nowrap;">Sample Type</div>
                    <div class="col-md-8">
                        {{ form.sample_type }}
                    </div>
                </div>
              <div class="form-row">
                  <button class="btn btn-sm btn-mdb-color" type="button" id="search-button">
                    <i class="fas fa-magnifying-glass"></i> Search
                  </button>
              </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div id="results-panel" class="d-none alert alert-info">
            <h5>Search Results</h5>
            <hr />


            <p>Total Bins Found: <strong><span id="total"></span></strong></p>

            <div class="d-none">
                <div>
                    <strong>Breakdown by Team (not yet implemented)</strong>
                    <div><label>Team A</label>: 0</div>
                    <div><label>Team B</label>: 1</div>
                </div>

                <div>
                    <strong>Breakdown by Dataset (not yet implemented)</strong>
                    <div><label>Dataset A</label>: 0</div>
                    <div><label>Dataset B</label>: 0</div>
                </div>
            </div>

            <button class="btn btn-sm btn-mdb-color" type="button" id="export-button">
                <i class="fas fa-file-export"></i> Export
            </button>
        </div>
    </div>
    <div class="col-md-4">
        <div id="actions-panel" class="d-none">
            <form id="execute-form" method="post">
            {% csrf_token %}
                <h5>Actions</h5>
                <hr />

                <div id="execute-message" class="alert alert-success d-none"></div>

                <div class="form-row">
                    <label>
                        <input type="radio" name="action" value="skip-bins" />
                        Skip Bins
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <input type="radio" name="action" value="unskip-bins" />
                        Unskip Bins
                    </label>
                </div>
                {% comment TODO: Implement assign/unassign datasets %}
                <div class="form-row">
                    <label>
                        <input type="radio" name="action" value="assign-dataset" />
                        Assign Dataset
                    </label>
                </div>
                <div class="form-row">
                    <label>
                        <input type="radio" name="action" value="unassign-dataset" />
                        Unassign Dataset
                    </label>
                </div>
                {% endcomment %}
                <div>
                    <button class="btn btn-sm btn-mdb-color" type="button" id="execute-button">Execute</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <hr />
    <a href="{% url 'secure:index' %}" class="btn btn-sm btn-mdb-color">
        <i class='fas fa-arrow-left magic mr-1'></i>
        Back to Settings
    </a>
</div>

{% endblock %} {% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function(){

        $('.date-picker').datepicker({
            "orientation": "bottom",
            "autoclose": true,
        });

        $("#search-button").on("click", function(e) {
            e.preventDefault();
            search();
        });

        $("#export-button").on("click", function(e) {
            e.preventDefault();
            exportBins();
        });

        $("#execute-button").on("click", function(e) {
            e.preventDefault();
            executeAction();
        });

        function search() {
            $.post("/secure/bin-management/search", $("#search-form").serialize(), function(data) {
                // TODO: Finish the grouping summaries
                // for (let i = 0; i < data.teams.length; i++) {
                //     const team = data.teams[i];
                //     console.log(`Team: ${team.name} has ${team.total} results`);
                // }
                // for (let i = 0; i < data.datasets.length; i++) {
                //     const dataset = data.datasets[i];
                //
                //     console.log(`Dataset: ${dataset.name} has ${dataset.total} results`)
                // }

                $("#total").text(data.total);

                $("#results-panel").toggleClass("d-none", false);
                $("#actions-panel").toggleClass("d-none", false);

                resetActionForm();

                // TODO: Could be cleaner, but we need to be able to reset the form independantly of the validation
                $("#execute-message").toggleClass("d-none", true);
            });
        }

        function exportBins() {
            const form = $("#search-form").get(0);
            form.setAttribute("target", "_blank");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/secure/bin-management/export");
            form.submit();
        }

        function resetActionForm() {
            const actionInputs = document.querySelectorAll("[name=action]");

            for (let i = 0; i < actionInputs.length; i++) {
                actionInputs[i].checked = false;
            }
        }

        function executeAction() {

            // TODO: Validate any other required fields (dataset for associate/unassociate)
            // TODO: Prevent running actions when no bins were found by the search

            if (!confirm("Are you sure you want to execute this action?")) {
                return;
            }

            const searchFormData = $("#search-form").serializeArray();
            const executeFormData = $("#execute-form").serializeArray()
            const formData = $.param(searchFormData.concat(executeFormData));

            $.post("/secure/bin-management/execute", formData, function(data) {
                const messagePanel = $("#execute-message");
                messagePanel.html(data.message);
                messagePanel.toggleClass("alert-success", data.success);
                messagePanel.toggleClass("alert-danger", !data.success);
                messagePanel.toggleClass("d-none", false);

                resetActionForm();
            });

        }

    });
</script>
{% endblock %}
