{% extends 'base.html' %}
{% block extra_head %}
<title>{{ dataset.title }} » Directories</title>
{% endblock %}
{% block content %}
<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">Data Directory Management for {{ dataset.name }}</span>
    </div>
    <div class="flex-column">
        <a class="btn btn-sm btn-mdb-color" href="{% url 'secure:edit-directory' dataset.id 0 %}"><i class="fas fa-plus magic mr-1"></i> Add New Data Directory</a>
    </div>
</div>
<hr class="my-2">
<div class="row py-2 px-3">
    <div class="col">
        <table id="directories" class="table table-sm table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Kind</th>
                    <th>Priority</th>
                    <th>Whitelist</th>
                    <th>Blacklist</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div>
    <hr />
    <a href="{% url 'secure:edit-dataset' dataset.id %}" class="btn btn-sm btn-mdb-color">
        <i class='fas fa-arrow-left magic mr-1'></i>
        Back to Dataset
    </a>
</div>

<!-- Delete Confirm Modal -->
<div class="modal" id="directoryDeleteModal" tabindex="-1" role="dialog" aria-labelledby="directoryDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="directoryDeleteModalLabel">Confirm Removal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="h3">Are you certain you wish to remove this directory? This will not delete any data.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-mdb-color" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-sm btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Delete Modal -->
{% endblock %} {% block scripts %}
<script>
    var directoriesTable;

    $(function(){
        directoriesTable = $('#directories').DataTable({
            searching: false,
            lengthChange: false,
            ajax: {
                url: "{% url 'secure:directories_dt' dataset.id %}"
            },
            columns: [
                {}, // Name
                {}, // Kind
                {}, // Priority
                {}, // Whitelist
                {}, // Blacklist
                { // Edit
                    targets: -1,
                    render: function ( data, type, row ) {
                        return (
                            "<a class='btn btn-sm btn-mdb-color mr-2' href='/secure/edit-directory/{{ dataset.id }}/" + data + "'>" +
                            "<i class='fas fa-edit magic mr-1'></i>Edit" +
                            "</a>" +
                            "<a class='btn btn-sm btn-mdb-color mr-2 delete-directory' data-dataset={{ dataset.id }} data-id='" + data + "' href='#'>" +
                            "<i class='fas fa-edit magic mr-1'></i>Remove" +
                            "</a>"
                        );
                    }
                }
            ]
        });

        $("#directories").on("click", ".delete-directory", function(e) {
            e.preventDefault();

            if (confirm("Are you sure you want to remove this data directory? This will not delete any data.")) {
                var datasetId = $(this).data("dataset");
                var directoryId = $(this).data("id");

                var payload = {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                }

                $.post("/secure/api/delete-directory/" + datasetId + "/" + directoryId, payload, function(data){
                    directoriesTable.ajax.reload();
                });
            }

        });
    });
</script>
{% endblock %}