{% extends 'base.html' %}

{% block content %}

<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">{% if tag.id > 0 %}Edit{% else %}Add New{% endif %} Tag</span>
    </div>
</div>
<hr class="my-2">

{% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="alert alert-danger">{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.id }}

    <div class="form-row">
        <div class="form-group col">
            <label for="id_name">Name</label>
            {{ form.name }}
            <div><small class="text-muted">{{ form.name.help_text }}</small></div>
            {% if form.name.errors %}<span class="text-danger">{{ form.name.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <a href="{% url 'secure:tag-management' %}" class="btn btn-sm">Cancel</a>
        <button type="submit" class="btn btn-sm btn-mdb-color">Save</button>
    </div>
</form>

<script>
    document.querySelector("[name=name]").addEventListener("input", function(e) {
        this.value = this.value.toLowerCase();
    })
</script>
{% endblock %}