{% extends 'base.html' %}
{% block extra_head %}
<title>Edit directory</title>
{% endblock %}
{% block content %}

<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">{% if directory.id > 0 %}Edit{% else %}Add New{% endif %} Data Directory</span>
    </div>
</div>
<hr class="my-2">

{% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="alert alert-danger">{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.id }}
    <div class="form-row">
        <div class="form-group col">
            <label for="id_path">Path</label>
            {{ form.path }}
            {% if form.path.errors %}<span class="text-danger">{{ form.path.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="id_kind">Kind</label>
            {{ form.kind }}
            {% if form.kind.errors %}<span class="text-danger">{{ form.kind.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="id_whitelist">Whitelist</label>
            {{ form.whitelist }}
            {% if form.whitelist.errors %}<span class="text-danger">{{ form.whitelist.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="id_blacklist">Blacklist</label>
            {{ form.blacklist }}
            {% if form.blacklist.errors %}<span class="text-danger">{{ form.blacklist.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div id="version-container" class="form-row d-none">
        <div class="form-group col">
            <label for="id_version">Version</label>
            {{ form.version }}
            {% if form.version.errors %}<span class="text-danger">{{ form.version.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="id_priority">Priority</label>
            {{ form.priority }}
            {% if form.priority.errors %}<span class="text-danger">{{ form.priority.errors.as_text }}</span>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="id_require_roi_files">Require ROI Files</label>
            <div class="col custom-switch">
                {{ form.require_roi_files }}
                <label class="custom-control-label" for="id_require_roi_files"></label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <a href="{% url 'secure:directory-management' dataset_id %}" class="btn btn-sm">Cancel</a>
        <button type="submit" class="btn btn-sm btn-mdb-color">Save</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    function updateKind() {
        console.log("ASD");
        var kind = $("#id_kind").val();
        $("#version-container").toggleClass("d-none", kind == "raw");
    }
    $(function(){
        updateKind();
        $("#id_kind").change(function(e){
            updateKind();
        });
    });

</script>
{% endblock %}