{% extends 'base.html' %}

{% block content %}

<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">{% if team.id > 0 %}Edit{% else %}Add New{% endif %} Team</span>
    </div>
</div>
<hr class="my-2">

{% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="alert alert-danger">{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}

<form method="post" id="team-form">
    {% csrf_token %}
    {{ form.id }}
    {{ form.assigned_user_ids }}
    {{ form.assigned_dataset_ids }}

    <div class="row">
        <div class="col-md-12">
            <div class="form-row">
                <div class="form-group col">
                    <label for="id_name">Name</label>
                    {{ form.name }}
                    {% if form.name.errors %}<span class="text-danger">{{ form.name.errors.as_text }}</span>{% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-3 pr-0">
            <div class="form-group col">
                <label for="id_assigned_users">Assigned Users</label>
                <select multiple id="id_assigned_users" name="assigned_users" class="form-control form-control-sm" size="10">
                    {% for user in assigned_users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-auto m-0 p-0 d-flex flex-column align-items-center justify-content-center">
            <div>
                <button id="assign-user" type="button" class="btn btn-sm btn-mdb-color" style="font-size: 1.5rem; padding: 0.5rem">&laquo;</button>
            </div>
            <div>
                <button id="unassign-user" type="button" class="btn btn-sm btn-mdb-color" style="font-size: 1.5rem; padding: 0.5rem">&raquo;</button>
            </div>

        </div>
        <div class="col-md-3 pl-0 text-center">
            <div class="form-group col">
                <label for="id_available_users">Available Users</label>
                <select multiple id="id_available_users" name="available_users" class="form-control form-control-sm" size="10">
                    {% for user in available_users %}
                    <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-5">
            &nbsp;
        </div>

        <div class="col-md-3 pr-0">
            <div class="form-group col">
                <label for="id_assigned_datasets">Assigned Datasets</label>
                <select multiple id="id_assigned_datasets" name="assigned_datasets" class="form-control form-control-sm" size="10">
                    {% for dataset in assigned_datasets %}
                    <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-0 m-0 p-0 d-flex flex-column align-items-center justify-content-center">
            <div>
                <button id="assign-dataset" type="button" class="btn btn-sm btn-mdb-color" style="font-size: 1.5rem; padding: 0.5rem">&laquo;</button>
            </div>
            <div>
                <button id="unassign-dataset" type="button" class="btn btn-sm btn-mdb-color" style="font-size: 1.5rem; padding: 0.5rem">&raquo;</button>
            </div>

        </div>
        <div class="col-md-3 pl-0 text-center">
            <div class="form-group col">
                <label for="id_available_datasets">Available Datasets</label>
                <select multiple id="id_available_datasets" name="available_datasets" class="form-control form-control-sm" size="10">
                    {% for dataset in available_datasets %}
                    <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-5">
            &nbsp;
        </div>


    </div>
    <div class="form-row">
        <a href="{% url 'secure:team-management' %}" class="btn btn-sm">Cancel</a>
        <button type="submit" class="btn btn-sm btn-mdb-color">Save</button>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
    function moveSelectedOptions(fromName, toName) {
        const fromList = document.querySelector(`[name=${fromName}]`);
        const toList = document.querySelector(`[name=${toName}]`);

        const options = Array.from(fromList.options).filter(option => option.selected);

        options.forEach((option) => {
            toList.appendChild(option);
        })
    }

    function updateAssignedValues() {
        const assignedUserIds = $("[name=assigned_users] option").map(function() {
            return $(this).val();
        }).get().join(",");

        $("[name=assigned_user_ids]").val(assignedUserIds);

        const assignedDatasetIds = $("[name=assigned_datasets] option").map(function() {
            return $(this).val();
        }).get().join(",");

        $("[name=assigned_dataset_ids]").val(assignedDatasetIds);
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Assign user
        $("#assign-user").click(function(e) {
            e.preventDefault();
            moveSelectedOptions("available_users", "assigned_users");
        });

        $("[name=available_users]").on("dblclick", "option", function() {
            moveSelectedOptions("available_users", "assigned_users");
        });

        // Unassign user
        $("#unassign-user").click(function(e) {
            e.preventDefault();
            moveSelectedOptions("assigned_users", "available_users");
        });

        $("[name=assigned_users]").on("dblclick", "option", function() {
            moveSelectedOptions("assigned_users", "available_users");
        });

        // Assign dataset
        $("#assign-dataset").click(function(e) {
            e.preventDefault();
            moveSelectedOptions("available_datasets", "assigned_datasets");
        });

        $("[name=available_datasets]").on("dblclick", "option", function() {
            moveSelectedOptions("available_datasets", "assigned_datasets");
        });

        // Unassign dataset
        $("#unassign-dataset").click(function(e) {
            e.preventDefault();
            moveSelectedOptions("assigned_datasets", "available_datasets");
        });

        $("[name=assigned_datasets]").on("dblclick", "option", function() {
            moveSelectedOptions("assigned_datasets", "available_datasets");
        });

        $("#team-form").submit(function(e) {
            updateAssignedValues();
        });
    });
</script>
{% endblock %}
