{% extends 'base.html' %}
{% load waffle_tags %}
{% block extra_head %}
<title>Settings</title>
{% endblock %}
{% block content %}
<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">Settings</span>
    </div>
</div>
<hr class="my-2">

<div class="row py-2 px-3">
    <div class="col">
        {% if has_settings_to_manage %}
        <ul class="list-group">
            {% if request.user.is_superuser %}
            <li class="list-group-item"><a href="{% url 'secure:dataset-management' %}">Dataset Management</a></li>
            <li class="list-group-item"><a href="{% url 'secure:instrument-management' %}">Instrument Management</a></li>
            <li class="list-group-item"><a href="{% url 'secure:user-management' %}">User Management</a></li>
            {% endif %}
            {% switch 'Teams' %}
            {% if can_manage_teams %}
            <li class="list-group-item"><a href="{% url 'secure:team-management' %}">Team Management</a></li>
            {% endif %}
            {% endswitch %}
            {% if request.user.is_superuser %}
            <li class="list-group-item"><a href="{% url 'secure:upload-metadata' %}">Upload Metadata</a></li>
            <li class="list-group-item"><a href="{% url 'secure:app-settings' %}">App Settings</a></li>
            <li class="list-group-item"><a href="{% url 'admin:index' %}">Administrative Settings</a></li>
            {% endif %}
        </ul>
        {% else %}
        <div class="alert alert-info">
            Your account does not currently have access to modify any settings.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}