{% extends 'base.html' %} {% block content %}
<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">Settings</span>
    </div>
</div>
<hr class="my-2">

<div class="row py-2 px-3">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'secure:dataset-management' %}">Dataset Management</a></li>
            <li class="list-group-item"><a href="{% url 'secure:instrument-management' %}">Instrument Management</a></li>
            <li class="list-group-item"><a href="{% url 'secure:upload-geospatial' %}">Upload Geospatial CSV</a></li>

        </ul>
    </div>
</div>
{% endblock %}