{% extends 'base.html' %} {% block content %}
<div class="flex-row d-flex justify-content-between">
    <div class="flex-column">
        <span class="h3-responsive">User Management</span>
    </div>
    <div class="flex-column">
        <a class="btn btn-sm btn-mdb-color" href="{% url 'secure:edit-user' 0 %}"><i class="fas fa-plus magic mr-1"></i> Add New User</a>
    </div>
</div>
<hr class="my-2">
<div class="row py-2 px-3">
    <div class="col">
        <table id="users" class="table table-sm table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div>
    <hr />
    <a href="{% url 'secure:index' %}" class="btn btn-sm btn-mdb-color">
        <i class='fas fa-arrow-left magic mr-1'></i>
        Back to Settings
    </a>
</div>

<!-- End Add/Edit Modal -->
<!-- Delete Confirm Modal -->
<div class="modal" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-header" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-user-header">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="h3">Are you certain you wish to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-mdb-color" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-sm btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Delete Modal -->

{% endblock %} {% block scripts %}
<script>
    let usersTable;

    $(function(){
        usersTable = $('#users').DataTable({
            searching: false,
            lengthChange: false,
            ajax: {
                url: "{% url 'secure:users_dt' %}"
            },
            columns: [
                {
                    data: "first_name"
                }, // First Name
                {
                    data: "last_name"
                }, // Last Name
                {
                    data: "username"
                }, // Email
                {
                    data: "email"
                },
                {
                    orderable: false,
                    data: "id",
                    render: function(data) {
                        return (
                            "<a class='btn btn-sm btn-mdb-color mr-2' href='/secure/edit-user/" + data + "'>" +
                            "<i class='fas fa-edit magic mr-1'></i>Edit" +
                            "</a>" +
                            "<a class='btn btn-sm btn-mdb-color mr-2 delete-user' href='#' data-id='" + data + "'>" +
                            "<i class='fas fa-edit magic mr-1'></i>Remove" +
                            "</a>"
                        );
                    }
                }
            ]
        });

        $("#users").on("click", ".delete-user", function(e) {
            e.preventDefault();

            if (!confirm("Are you sure you want to remove this user?")) {
                return;
            }

            const userId = $(this).data("id");
            const payload = {
                csrfmiddlewaretoken: "{{ csrf_token }}",
            }

            $.post("/secure/api/delete-user/" + userId, payload, function(data){
                usersTable.ajax.reload();
            });
        });
    });
</script>
{% endblock %}